.main-container{
  width: calc(100% - 50px);
  float: right;
  padding: 0 10px;
}

.main-container-inner {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 10px 0;
}

.main-container-inner-left {
  height: calc(100vh - 60px);
  width: calc(100% - 450px);
  padding: 10px 0;
  float: left;
  transition: 0.3s ease all;
}

.main-container-inner-right {
  height: calc(100vh - 60px);
  width: 450px;
  padding: 10px 0 10px 20px;
  float: right;
  transition: 0.3s ease all;
  overflow: auto;
}

/*---- Tabla ----*/

table {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

.table-see{
  margin: 0 auto 0 -7px;
  width: calc(100% + 7px);
  position:relative;
  text-align: center;
  background-size: auto;
}

.table-see th{
  background: var(--orange);
}

.table-see tr:nth-child(odd){
  background: var(--light-orange-table);
}

.table-see tr:nth-child(even){
  background: var(--dark-orange-table);
}

th {
  background: var(--green);
  color: #fff;
  text-align: center;
  font-weight: 700;
}

td {
  color: var(--green);
  font-weight: normal;
}

th:first-child, td:first-child {
  text-align: left;
  padding-left: 7px;
}

tr {
  height: 30px;
}

table tbody:nth-child(odd) tr{
  background: #f2f2f2;
}

.option-header {
  width: 85px;
}

.option {
  display:flex;
  justify-content: right;
  align-items: center;
  padding-right: 5px;
  width: 85px;
  /* padding: 5px 0; */
}

.option-newRoute{
  justify-content: right;
  display:flex;
}

.boton-color:active{
  background: grey;
}

.rombo-table {
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 0 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.3s ease all;
}

.small-square {
  clip-path: none;
  width: 20px;
  height: 20px;
  margin: 5px 0 5px 5px;
}

/* --- buttons borrables --*/
.rombo-table-write {
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 0 0 10px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-write:hover {
  background: var(--blue-selected);
}

.rombo-table-delete {
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 0 0 10px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-delete:hover {
  background: var(--red-selected);
}

.rombo-table-see {
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 0 0 10px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-see:hover, .rombo-table-see-selected {
  background: var(--green-selected);
}

.rombo-table-write i, .rombo-table-delete i, .rombo-table-see i {
  line-height: 30px !important;
  font-size: 12px;
  color: #fff;
}

/*-------*/

.centrado{
  margin-left: 200px;
}

.nombre{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
}

.nombre-routes{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 10px;
}

.nombre-posts{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 15px;
}

.nombre-exit{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 18px;
}

.new-route-nombre{
  text-decoration: none;
  justify-content: center;
  position: block;
  text-align: center;
  color: white;
  position: relative;
  margin: 12px;

}
.new-post-nombre{
  text-decoration: none;
  justify-content: center;
  position: block;
  text-align: center;
  color: white;
  position: relative;
  margin: 15px;

}

div.content {
  width: 100%;

}


.image-challenge{
  width: 280px;
}
.space-route{
  border-color: #FF6F00;
  margin-top: 16px;
  width: 100%;

  margin-right: 5px;
}

.space{
  margin-top: 10px;

  margin-right: 5px;
  border-color: #FF6F00;
  width: 100%;
}

.space-post{
  margin-top: 1px;
  margin-right: 5px;
  border-color: #FF6F00;
  width: 100%;
}

.content{
  text-align: left;
}

.container-1{
  float: right;
  justify-content: right;
  top:-30px;
  position: relative;
}

.container-2{
  float: right;
  justify-content: right;
  top:-24px;
  position: relative;
}

.search{
  color: #00A195;
}

/*--- New Routes ---*/

.map-container {
  width: calc(100% - 450px);
  height: 100%;
  float: left;
}

.new-route-map{
  border: 1px solid white;
  width: 100%;
  height: calc(100% - 40px);
  background: grey;
  transition: 0.3s ease all;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

/*---- Formularios ----*/

.new-route-form {
  width: 450px;
  height: 100%;
  padding-left: 20px;
  float: right;
  transition: 0.3s ease all;
}

.new-route-form form {
  padding-bottom: 10px;
}

.input-text {
  margin: 0 0 10px 0;
  width: 100%;
  height: 30px;
}

.space-new-route{
  border-color: #eee;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}
/*---- Select new routes ----*/

.selected-challenges-container h5 {
  color: var(--green);
  text-align: center;
  font-weight: 700;
}

.close-new-route{
  float: right;
  justify-content: right;
  top:-24px;
  position: relative;
}
/*Boton cerrar nueva ruta*/
.close-rombo-newroute{
  color: white;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 10px;
  transition: 0.3s ease all;
}

.save-new-route{
  position: relative;
  top: 25%;
}

.table-options{
  width: 100%;


}

.table-options td{
  padding-left: 20px;
}
.select-options{
  width: 100%;
  margin-top: 10px;
}

/*New challenges*/
ul.tabs {
  text-align: center;
}

ul.tabs li {
  float: none !important;
  display: inline-block;
}
.new-challenge-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* border: 1px solid #00A195; */
  margin-bottom: 10px;
}

.new-challenge-video iframe {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.new-challenge-table{
  border: 1px solid white;
  width: 59%;
  height: 570px;

  transition: 0.3 ease all;

  float: left;
}

/*---- NEW POST ----*/

.new-post-textArea{
  border: 1px solid #00A195;
  width: 100%;
  height: 250px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  resize: none;
}

/*---- Video Tabs ----*/

.post-tabs-container {
  height: 40px;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-tab {
  height: 40px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease all;
}

.post-tab:nth-child(1) {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 161, 149, 0.3) transparent var(--green) rgba(0, 161, 149, 0.3);
}

.post-tab:nth-child(2) {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 161, 149, 0.3) rgba(0, 161, 149, 0.3) var(--green) transparent;
}

.post-tab span {
  line-height: 40px;
  color: rgba(0, 161, 149, 0.5);
  transition: 0.3s ease all;
}

.post-tab:hover span {
  color: var(--green);
}

.post-tab-selected {
  border-width: 1px;
  border-style: solid;
  border-color: var(--green) var(--green) transparent var(--green) !important;
}

.post-tab-selected span {
  color: var(--green)
}

/*--- Delete Popup ---*/

.bg-popup {
  position: absolute; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  text-align: center;
  width: 450px;
  height: auto;
  background-color: #fff;
  margin: auto;
  padding: 20px 0;
}

.popup-buttons-container {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background: var(--red);
  width: calc(50% - 10px);
  height: 40px;
  border: none;
  color: #fff;
  transition: 0.3s ease all;
}

.delete-button:hover {
  background: var(--red-selected);
}

.cancel-button {
  background: #ccc;
  width: calc(50% - 10px);
  height: 40px;
  border: none;
  color: var(--red);
  transition: 0.3s ease all;
}

.cancel-button:hover {
  background: #aaa;
  color: var(--red-selected);
}

.challenge-legend {
  height: 30px;
  width: auto;
  padding: 0 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00A195;
}

.challenge-legend {
  font-family: 'Montserrat', sans-serif;
  color: #00A195;
}

.legend-diamond {
  height: 10px;
  width: 10px;
  background: #00A195;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  margin-right: 5px;
  display: block;
}

/* Clases de home */

.home-main-container {
  width:100%;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title-container {
  height: 150px;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title-inner-container {
  height: 100%;
  width: calc(100% - 720px);
  border-bottom: 1px solid #ccc;
}

.home-title-inner-container img {
  height: 50px;
  width: auto;
  display: block;
  margin: 30px auto 20px auto;
}

.home-title-inner-container p {
  height: 50px;
  width: 100%;
  display: block;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 800;
  color: #999;
}

.home-content {
  height: 70%;
  /* width: calc(100% - 720px); */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 20px;
  gap: 30px;
}

.home-button {
  background-color: var(--orange);
  min-height: 150px;
  aspect-ratio: 1;
  border: none;
  transition: 0.15s ease all;
}

.home-button:hover {
  background-color: var(--dark-orange);
}

.home-button-span {
  background-color: var(--green);
  grid-column: 2 / span 3;
  aspect-ratio: unset;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px 0;
  max-height: 150px;
}

.home-button span {
  display: block;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: auto;
  transition: 0.15s ease all;
}

.home-button p {
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.15s ease all;
}

.home-button:hover span, .home-button:hover p {
  color: #fff;
}

.home-stat {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
}

.home-stat span {
  display: block;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.8);
  margin: auto;
  transition: 0.15s ease all;
}

.home-stat p {
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.15s ease all;
}

.home-button-unactive {
  background: #ccc;
  opacity: 0.5;
  pointer-events: none;
}