:root {
  --orange: #ff6f00;
  --dark-orange: #803800;
  --light-orange: #ffae70;

  --dark-orange-table: #ffc599;
  --light-orange-table: #ffe2cc;

  --green: #00a195;
  --green-selected: #0c515c;
  --blue: #007bff;
  --blue-selected: #003e80;
  --red: #dc3545;
  --red-selected: #872732;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.login-container{
  width: 100vw;
  height: 100vh;
  background: url(../images/Admin_Zone_bg.svg) no-repeat center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  background: var(--light-orange);
  background: linear-gradient(180deg, var(--light-orange) 0%, var(--orange) 100%);
}

.text-container{
  text-align: center;
  width: 450px;
  height: auto;
  background-color: #fff;
  margin: auto;
  padding-top: 20px;
  z-index: 1;
}

.text-container-recover{
  text-align: center;
  border: 1px solid var(--orange);
  width: 449px;
  height: 449px;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  padding-top: 20px;
  box-shadow: 1px 1px 1px;
  z-index: 4;
}

.text-container img {
  width: 50%;
  height: auto;
  margin-top: 40px;
}

.text-container h5:nth-child(2) {
  color: var(--dark-orange);
  font-weight: 700;
  font-size: 18px;
}

.text-container h5:nth-child(3) {
  color: #999;
  font-weight: 700;
  font-size: 18px;
  margin-top: 40px;
}

input{
  width: calc(100% - 40px);
  height: 40px;
  margin-top: 20px;
  border-bottom: 1px solid var(--green);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  outline: none;
}

::placeholder {
  color: var(--green);
  font-weight: 300;
  font-size: 14px;
}

.button{
  width: calc(100% - 40px);
  height: 40px;
  border: 1px solid var(--orange);
  background: var(--orange);
  color: #fff;
  font-weight: 400;
  font-size: 14px;
 -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  text-align: center;
}

.place::-webkit-input-placeholder {
  text-align: left;
}

.term-container {
  width: calc(100% - 40px);
  height: 40px;
  margin: 0 auto 20px auto;
}

.term-container a {
  color: #ababab;
  line-height: 40px;
  transition: 0.3s ease all;
}

.term-container a:hover {
  color: var(--orange);
}

/*---- Nav Menu ----*/

.sidebar hr{
  margin-top: 29px;
  width: calc(100% - 30px);
  color: #fff;
  transition: 0.3s ease all;
}

.sidebar:hover hr{
  width: 100%;
}

.sidebar {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  width: 70px;
  background: linear-gradient(180deg, rgba(255,174,112,1) 0%, rgba(207,89,0,1) 100%);
  position: fixed;
  height: 100%;
  overflow: hidden;
  transition: 0.3s ease all;
  margin: auto;
}

.sidebar a {
  display: block;
  text-decoration: none;
  text-align: left;
}

.logo {
  width: calc(100% - 30px);
  height: 80px;
  margin: auto auto 20px auto;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #fff;
  transition: 0.3s ease all;
}

.logo img {
  height: 50px;
  /*width: 100%;*/
  object-fit: cover;
  object-position: -14px 6px;
  clip-path: polygon(0 0, 100% 0,  100% calc(100% - 4px), 0 calc(100% - 4px));
  transition: 0.3s ease all;
}

.sidebar:hover .logo {
  width: calc(100% - 30px);
}

.sidebar:hover .logo img{
  object-position: center center;
  clip-path: polygon(0 0, 100% 0,  100% 100%, 0 100%);
}

.sidebar:hover{
  width: 200px;
}

.sidebar:hover .rombo{
  -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  clip-path: polygon(20px 0, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  width: 100%;
  transition: 0.3s ease all;
}

main-menu:hover~.main-container{
  width: calc(100% - 200px);
}

.rombo-bottom{
  position: absolute;
  text-align: center;
  left: 15px;
  right: 15px;
  bottom: 0;
  width: calc(100% - 30px);
}

.rombo-top{
  text-align: center;
}

.rombo {
  width: 40px;
  height: 40px;
  display:inline-block;
  position: relative;
  overflow: hidden;
  clip-path: polygon(20px 0, 40px 20px, 20px 40px, 0 20px);
  background: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  transition: 0.3s ease all;
}

.rombo span {
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}

.rombo span:first-child {
  display: block;
  width: 40px;
  line-height: 40px;
  color: #fff;
  transition: 0.3s ease all;
}

.rombo span:nth-child(2) {
  opacity: 0;
  color: #fff;
  line-height: 40px;
  transition: 0.3s ease all;
}

.rombo-selected {
  background: #fff;
}

.rombo-selected span:first-child, .rombo-selected span:nth-child(2) {
  color: var(--orange);
}

.sidebar:hover .rombo span:first-child {
  float: left;
  display: block;
  width: 60px;
  text-align: center;
}

.sidebar:hover .rombo span:nth-child(2) {
  float: right;
  display: block;
  width: calc(100% - 60px);
  text-align: left;
  opacity: 1;
}

.rombo:hover{
  background-color: #fff;
  -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  width: 100%;
}

.rombo:hover span {
  color: var(--orange);
}

/*---- Section Header ----*/

.section-header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--orange);
}

.section-header-left {
  display: inline-block;
  float: left;
  width: calc(100% - 200px);
  transition: 0.3s ease all;
}

.section-header-left-50 {
  width: calc(100% - 250px);
}

.section-header-right {
  display: inline-block;
  float: right;
  width: 200px;
  transition: 0.3s ease all;
}

.section-header-right-50 {
  width: 250px;
}

.section-header-right-left {
  width: 200px;
  float: left;
  text-align: left;
}

.rombo-header {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  clip-path: polygon(20px 0, 40px 20px, 20px 40px, 0 20px);
  background: var(--orange);
  margin: 20px 0;
  text-align: center;
  float: left;
}

.rombo-header span {
  color: #fff;
  line-height: 40px;
}

.section-header-left h1 {
  display: inline-block;
  margin: 0 10px;
  color: var(--orange);
  font-size: 24px;
  font-weight: 700;
  line-height: 80px;
}

.search-icon {
  width: 20px;
  display: block;
  float: left;
  line-height: 80px;
}

.search-input {
  width: calc(100% - 20px);
  display: block;
  float: right;
}

.close-rombo {
  width: 40px;
  height: 40px;
  background: var(--red);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin-top: 20px;
  float: right;
  display: block;
  position: relative;
  transition: 0.3s ease all;
}

.close-rombo:hover {
  background: var(--red-selected);
}

/*---- Main Container ---*/

.main-container{
  width: calc(100% - 70px);
  transition: 0.3s ease all;
  float: right;
  padding: 0 20px;
}

.main-container-inner {
  height: calc(100vh - 80px);
  width: 100%;
  padding: 20px 0;
}

.main-container-inner-left {
  height: calc(100vh - 80px);
  width: calc(100% - 450px);
  padding: 20px 0;
  float: left;
  transition: 0.3s ease all;
}

.main-container-inner-right {
  height: calc(100vh - 80px);
  width: 450px;
  padding: 20px 0 20px 20px;
  float: right;
  transition: 0.3s ease all;
}

/*---- Botón flotante (New Route...) ----*/

.rombo-new-route{
  width: 40px;
  height: 40px;
  background: var(--green);
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  clip-path: polygon(20px 0, 40px 20px, 20px 40px, 0 20px);
  transition: 0.3s ease all;
}

.rombo-new-route span {
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}

.rombo-new-route span:first-child {
  display: block;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: 0.3s ease all;
}

.rombo-new-route span:nth-child(2) {
  opacity: 0;
  color: #fff;
  line-height: 40px;
  transition: 0.3s ease all;
}

.rombo-new-route:hover{
  width: 180px;
  height: 40px;
  -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
  background: var(--green-selected);
  color: #fff;
  transition: 0.3s ease all;
}

.rombo-new-route:hover span:first-child {
  float: left;
  display: block;
  width: 60px;
  text-align: center;
}

.rombo-new-route:hover span:nth-child(2) {
  float: right;
  display: block;
  width: calc(100% - 60px);
  text-align: left;
  opacity: 1;
  left: -10px;
  position: relative;
}

/*---- Tabla ----*/

table {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.table-see{
  margin: 0 auto;
  width: 100%;
  position:relative;
  text-align: center;
  background-size: auto;
}

.table-see th{
  background: var(--orange);
}

.table-see tr:nth-child(odd){
  background: var(--light-orange-table);
}

.table-see tr:nth-child(even){
  background: var(--dark-orange-table);
}

th {
  background: var(--green);
  color: #fff;
  text-align: center;
  font-weight: normal;
}

td {
  color: var(--green);
  font-weight: normal;
}

tr {
  height: 40px;
}

table tbody:nth-child(odd) tr{
  background: #f2f2f2;
}

.option {
  justify-content: center;
  display:flex;
  padding: 5px 0;
}

.option-newRoute{
  justify-content: right;
  display:flex;
}

.boton-color:active{
  background: grey;}

.rombo-table-write {
  width: 30px;
  height: 30px;
  background: var(--blue);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 5px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-write:hover {
  background: var(--blue-selected);
}

.rombo-table-delete {
  width: 30px;
  height: 30px;
  background: var(--red);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 5px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-delete:hover {
  background: var(--red-selected);
}

.rombo-table-see {
  width: 30px;
  height: 30px;
  background: var(--green);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 5px;
  text-align: center;
  transition: 0.3s ease all;
}

.rombo-table-see:hover, .rombo-table-see-selected {
  background: var(--green-selected);
}

.rombo-table-write i, .rombo-table-delete i, .rombo-table-see i {
  line-height: 30px !important;
  font-size: 12px;
  color: #fff;
}

.centrado{
  margin-left: 200px;
}



.nombre{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
}

.nombre-routes{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 10px;
}

.nombre-posts{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 15px;
}

.nombre-exit{
  text-decoration: none;
  text-align: center;
  color: white;
  justify-content: center;
  margin-left: 18px;
}

.new-route-nombre{
  text-decoration: none;
  justify-content: center;
  position: block;
  text-align: center;
  color: white;
  position: relative;
  margin: 12px;

}
.new-post-nombre{
  text-decoration: none;
  justify-content: center;
  position: block;
  text-align: center;
  color: white;
  position: relative;
  margin: 15px;

}

div.content {
  width: 100%;

}


.image-challenge{
  width: 280px;
}
.space-route{
  border-color: #FF6F00;
  margin-top: 16px;
  width: 100%;

  margin-right: 5px;
}

.space{
  margin-top: 10px;

  margin-right: 5px;
  border-color: #FF6F00;
  width: 100%;
}

.space-post{
  margin-top: 1px;
  margin-right: 5px;
  border-color: #FF6F00;
  width: 100%;
}




.content{
  text-align: left;
}

.container-1{
  float: right;
  justify-content: right;
  top:-30px;
  position: relative;
}

.container-2{
  float: right;
  justify-content: right;
  top:-24px;
  position: relative;
}

.search{
  color: #00A195;
}

/*--- New Routes ---*/

.new-route-map{
  border: 1px solid white;
  width: calc(100% - 450px);
  height: 100%;
  background: grey;
  transition: 0.3s ease all;
  overflow: hidden;
  float: left;
  margin-bottom: 10px;
}

/*---- Formularios ----*/

.new-route-form{
  width: 450px;
  height: 100%;
  padding-left: 20px;
  float: right;
  transition: 0.3s ease all;
}

.input-text {
  margin: 10px 0;
  width: 100%;
}

.space-new-route{
  border-color: #FF6F00;
  margin-top: 10px;
  width: 100%;
}
/*---- Select new routes ----*/

.dropdown-challenge {
  -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  clip-path: polygon(20px 0%, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  background: #ccecea;
  width: 100%;
  height: 40px;
  text-align: left;
  color: var(--green);
  display: block;
  position:relative;
  margin-bottom: 20px;
  z-index: 1;
}

.span-add-challenge{
  position: relative;
  top: 25%;
  left: 5%;
}

.rombo-select{
  width: 40px;
  height: 40px;
  background: var(--green);
  clip-path: polygon(20px 0, 40px 20px, 20px 40px, 0 20px);
  transition: 0.3s ease all;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.rombo-select-left{
  width: 40px;
  height: 40px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin-left: 25px;
  margin-top: 33px;
  transition: 0.3s ease all;
  display: block;
  position:absolute;
  bottom:-1px;
}

.rombo-select span{
  color: white;
  line-height: 40px;
  transition: 0.3s ease all;
}

.dropdown-challenge-container {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 472px);
  padding-top: 20px;
  top: -40px;
  position: relative;
  z-index: 0;
  overflow: auto;
  background: #f5f5f5;
}

.dropdown-option {
  height: 40px;
  width: 100%;
  padding: 0 10px;
}

.dropdown-option:nth-child(odd) {
  background: #fff;
}

.dropdown-option:nth-child(even) {
  background: #f5f5f5;
}

.dropdown-option-left {
  height: 100%;
  width: calc(100% - 100px);
  float: left;
}

.dropdown-option-left span {
  color: var(--green);
  line-height: 40px;
}

.drodown-option-right {
  height: 100%;
  width: 100px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-form {
  -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 40px, 20px 40px, 0 20px);
  background: var(--orange);
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  display:inline-block;
  position:relative;
  transition: 0.3s ease all;
}

.button-form:hover {
  background: var(--dark-orange);
}

.button-form span {
  line-height: 40px;
  color: #fff;
}

.close-new-route{
  float: right;
  justify-content: right;
  top:-24px;
  position: relative;
}
/*Boton cerrar nueva ruta*/
.close-rombo-newroute{
  color: white;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 10px;
  transition: 0.3s ease all;
}

.save-new-route{
  position: relative;
  top: 25%;
}

.table-options{
  width: 100%;


}

.table-options td{
  padding-left: 20px;
}
.select-options{
  width: 100%;
  margin-top: 10px;
}

/*New challenges*/
ul.tabs {
  text-align: center;
}

ul.tabs li {
  float: none !important;
  display: inline-block;
}
.new-challenge-video{
  width: 100%;
  height: 250px;
  border: 1px solid white;


}
.new-challenge-table{
  border: 1px solid white;
  width: 59%;
  height: 570px;

  transition: 0.3 ease all;

  float: left;
}

/*---- NEW POST ----*/

.new-post-textArea{
  border: 1px solid #00A195;
  width: 100%;
  height: 250px;
}

/*---- Video Tabs ----*/

.post-tabs-container {
  height: 40px;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-tab {
  height: 40px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease all;
}

.post-tab:nth-child(1) {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 161, 149, 0.3) transparent var(--green) rgba(0, 161, 149, 0.3);
}

.post-tab:nth-child(2) {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 161, 149, 0.3) rgba(0, 161, 149, 0.3) var(--green) transparent;
}

.post-tab span {
  line-height: 40px;
  color: rgba(0, 161, 149, 0.5);
  transition: 0.3s ease all;
}

.post-tab:hover span {
  color: var(--green);
}

.post-tab-selected {
  border-width: 1px;
  border-style: solid;
  border-color: var(--green) var(--green) transparent var(--green) !important;
}

.post-tab-selected span {
  color: var(--green)
}

/*--- Delete Popup ---*/

.bg-popup {
  position: absolute; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(12,81,92,0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  text-align: center;
  width: 450px;
  height: auto;
  background-color: #fff;
  margin: auto;
  padding: 20px 0;
}

.popup-buttons-container {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background: var(--red);
  width: calc(50% - 10px);
  height: 40px;
  border: none;
  color: #fff;
  transition: 0.3s ease all;
}

.delete-button:hover {
  background: var(--red-selected);
}

.cancel-button {
  background: #ccc;
  width: calc(50% - 10px);
  height: 40px;
  border: none;
  color: var(--red);
  transition: 0.3s ease all;
}

.cancel-button:hover {
  background: #aaa;
  color: var(--red-selected);
}
