<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('challenges' | routeSegmentStartsWith)"
                  title="{{challenges.language.HOME.challenges}}"
                  icon="{{challenges.icons.challenges}}"
                  show-search-input="true">
  </section-header>

  <div class="main-container-inner" ng-class="{ 'main-container-inner-left' : ('challenges.new_challenge' | routeSegmentEqualsTo) || ('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo) }">

    <subsection-header title="{{challenges.language.ROUTES.challengeList}}"
                       icon="{{challenges.icons.challenges}}"
                       map-buttons="false"
                       new-button-icon="{{challenges.icons.add}}"
                       new-button-title="{{challenges.language.ROUTES.newChallenge}}"
                       new-button-function="challenges.goToNewChallenge()"
                       hide-button-condition="('challenges.new_challenge' | routeSegmentEqualsTo) || ('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)">
    </subsection-header>

    <table class="tabla">
      <thead>
      <tr>
        <th scope="col">{{challenges.language.ROUTES.title}}</th>
        <th scope="col">{{challenges.language.ROUTES.category}}</th>
        <th scope="col">{{challenges.language.ROUTES.target}}</th>
        <th scope="col">{{challenges.language.ROUTES.reward}}</th>
        <th scope="col">{{challenges.language.ROUTES.video}}</th>
        <th scope="col" class="option-header">{{challenges.language.ROUTES.options}}</th>
      </tr>
      </thead>
      <tbody ng-repeat="challenge in challenges.challenges">

      <tr>
        <td class="bold">{{challenge.title}}</td>
        <td>{{challenge.category}}</td>
        <td>
          <span class="bold" ng-show="challenge.unit === 'reps'">x</span>{{challenge.target}}<span class="bold" ng-show="challenge.unit === 'seconds'">s</span><span class="bold" ng-show="challenge.unit === 'minutes'">m</span>
        </td>
        <td>{{challenge.reward}} <span class="bold">Exp</span></td>
        <td><a href="https://www.youtube.com/watch?v={{challenge.video}}" target="_blank">{{challenges.language.ROUTES.link}}</a></td>
        <td class="option">

          <div class="rombo-table small-square edit-bg" ng-click="challenges.editChallenge(challenge.challenge_id)">
            <i class="{{challenges.icons.edit}} icon-size"></i>
          </div>

          <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
            <i class="{{challenges.icons.deleteDocument}} icon-size"></i>
          </div>

          <!-- TODO Hacer Directiva -->

          <div class="bg-popup" ng-show="showDeletePopup[$index]">

            <div class="popup-container">
              <span>{{challenges.language.ROUTES.deleteChallenge}}</span>
              <h5 class="bold">{{challenge.title}}</h5>
              <div class="popup-buttons-container">
                <button class="delete-button" ng-click="challenges.deleteChallenge(challenge.challenge_id); showDeletePopup[$index] = false">{{challenges.language.ROUTES.delete}}</button>
                <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{challenges.language.ROUTES.cancel}}</button>
              </div>
            </div>

          </div>

          <!-- -->

        </td>

      </tr>

      </tbody>
    </table>

  </div>

  <div app-view-segment="1" ng-show="('challenges.new_challenge' | routeSegmentEqualsTo)"></div>

  <div app-view-segment="2" ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"></div>

  <!-- <new-button icon="{{challenges.icons.add}}"
              title="New Challenge"
              button-function="challenges.goToNewChallenge()"
              ng-hide="('challenges.new_challenge' | routeSegmentEqualsTo)">
  </new-button> -->

  </div>

</div>
