<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('challenges' | routeSegmentEqualsTo)"
                  title="Challenges"
                  icon="fas fa-walking"
                  show-search-input="true">
  </section-header>

  <section-header ng-show="('challenges.new_challenge' | routeSegmentEqualsTo)"
                  title="Challenges - New Challenge"
                  icon="fas fa-walking"
                  show-search-input="true"
                  show-close="true"
                  close-function="challenges.goToChallenges()">
  </section-header>

  <section-header ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
                  title="Challenges - Edit Challenge"
                  icon="fas fa-walking"
                  show-search-input="true"
                  show-close="true"
                  close-function="challenges.goToChallenges()">
  </section-header>

  <div class="main-container-inner" ng-class="{ 'main-container-inner-left' : ('challenges.new_challenge' | routeSegmentEqualsTo) || ('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo) }">

    <table class="tabla">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Video</th>
        <th scope="col">Bonus</th>
        <th scope="col">Min. Time / Max. Time</th>
        <th scope="col">Images</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody ng-repeat="challenge in challenges.challenges">

      <tr>
        <td>{{challenge.date | date : 'dd/MM/yyyy'}}</td>
        <td>{{challenge.name}}</td>
        <td>{{challenge.video}}</td>
        <td>{{challenge.bonus}}</td>
        <td>{{challenge.minMax}}</td>
        <td>{{challenge.images}}</td>
        <td class="option">


          <div class="rombo-table-write" ng-click="challenges.editChallenge(challenge.id)">
            <i class="fas fa-edit logo1"></i>
          </div>

          <div class="rombo-table-delete"  ng-click="challenges.mostrarPopUp($index)">
            <i class="fas fa-trash-alt logo2"></i>
          </div>
      </tr>

      </tbody>
    </table>

  </div>

  <div app-view-segment="1" ng-show="('challenges.new_challenge' | routeSegmentEqualsTo)"></div>

  <div app-view-segment="2" ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"></div>

  <new-button icon="fas fa-plus"
              title="New Challenge"
              button-function="challenges.goToNewChallenge()"
              ng-hide="('challenges.new_challenge' | routeSegmentEqualsTo)">
  </new-button>

     <div id="main" class="popUp" ng-show="challenges.deletePopUp === true">
      <div class="divPopUp">
          <h4 style="text-align: center; color: black;">Are you sure you want to delete the marked challenge?</h4>
          <div class="botones">
            <button type="submit" class="btn btn-danger" ng-click="challenges.deleteRow($index); challenges.deletePopUp = false">Ok</button>
            <button type="submit" class="btn btn-light"  ng-click="challenges.deletePopUp = false">Cancel</button>
          </div>
      </div>

    </div>

  </div>

</div>
