<!-- <notification text="{{editRoute.language.ROUTES.routeUpdated}}!"
              show-condition="editRoute.routeUpdated">
</notification> -->

<div class="main-container-inner">

  <div class="map-container">

    <subsection-header title="{{editRoute.language.ROUTES.routeMap}}"
                       icon="{{editRoute.icons.routes}}"
                       map-buttons="true"
                       hide-button-condition="false"
                       icon-route="{{editRoute.icons.routes}}"
                       click-route="editRoute.changeMapMode('route')"
                       route-status="editRoute.selectedMode === 'route'"
                       icon-challenge="{{editRoute.icons.challenges}}"
                       click-challenge="editRoute.changeMapMode('challenge')"
                       challenge-status="editRoute.selectedMode === 'challenge'">
    </subsection-header>

    <div class="new-route-map" id="routeMap">

    </div>
  </div>

  <div class="new-route-form" ng-show="('routes.edit_route.route_id' | routeSegmentEqualsTo)">

    <form-section-header title="{{editRoute.language.ROUTES.editRoute}}"
                         icon="{{editRoute.icons.edit}}"
                         close-icon="{{editRoute.icons.close}}"
                         close-function="editRoute.goToRoutes()">
    </form-section-header>

    <form>

      <input type="text"
             placeholder="{{editRoute.language.LOGIN.name}}"
             class="input-text"
             ng-model="editRoute.route.route_name"
             required>

      <input type="text"
             placeholder="{{editRoute.language.LOGIN.city}}"
             class="input-text"
             ng-model="editRoute.route.route_city"
             required>

      <input type="text"
             placeholder="{{editRoute.language.LOGIN.province}}"
             class="input-text"
             ng-model="editRoute.route.route_province"
             required>

      <select class="width-100"
              ng-model="editRoute.route.route_country"
              ng-options="country.code as country.name for country in editRoute.countries" required>
        <option value="">{{editRoute.language.LOGIN.country}}</option>
      </select>

      <hr class="space-new-route">

      <form-section-header title="{{editRoute.language.ROUTES.selectedChallenges}}Selected Challenges"
                           icon="{{editRoute.icons.challenges}}"
                           hide-close-button="true"
                           ng-show="editRoute.challengesFormArray.length > 0">
      </form-section-header>

      <select class="width-100"
              ng-model="editRoute.challengesFormArray[$index].challenge_id"
              ng-repeat="challenge in editRoute.challengesFormArray"
              placeholder="{{editRoute.language.ROUTES.selectChallenge}}"
              ng-show="('routes.edit_route.route_id' | routeSegmentEqualsTo)"
              ng-options="challenge.challenge_id as challenge.title for challenge in editRoute.challenges"
              ng-change="editRoute.updateChallengeForm($index, editRoute.challengesFormArray[$index].challenge_id)"
              required>
        <option value="">{{editRoute.language.ROUTES.selectChallenge}} {{$index + 1}}</option>
      </select>

      <hr ng-show="editRoute.challengesFormArray.length > 0" class="space-new-route">

      <button-form show-button="('routes.edit_route.route_id' | routeSegmentEqualsTo)"
                   click-button="editRoute.edit()"
                   text-button="{{editRoute.language.ROUTES.editRoute}}">
      </button-form>

    </form>

  </div>

</div>
