<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('teams.edit_team.team_id' | routeSegmentEqualsTo)">

    <form-section-header title="{{editTeam.language.TEAMS.editTeam}}"
                         icon="{{editTeam.icons.add}}"
                         close-icon="{{editTeam.icons.close}}"
                         close-function="editTeam.goToTeams()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('teams.edit_team.team_id' | routeSegmentEqualsTo)"
             placeholder="{{editTeam.language.LOGIN.name}}"
             class="input-text"
             ng-model="editTeam.team.team_name"
             required>

      <hr class="space-new-route">

      <button-form show-button="('teams.edit_team.team_id' | routeSegmentEqualsTo)"
                   click-button="editTeam.edit()"
                   text-button="{{editTeam.language.TEAMS.editTeam}}">
      </button-form>

    </form>

  </div>

</div>
