<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)">

    <form-section-header title="Edit User"
                         icon="{{editUser.icons.edit}}"
                         close-icon="{{editUser.icons.close}}"
                         close-function="editUser.goToUsers()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Rol"
             class="input-text"
             ng-model="editUser.user.rol"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Username"
             class="input-text"
             ng-model="editUser.user.username"
             required>

      <!-- <input type="password"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Password"
             class="input-text"
             ng-model="editUser.user.password"
             required> -->

      <!-- <input type="password"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Repeat Password"
             class="input-text"
             ng-model="editUser.user.checkPassword"
             required> -->

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Name"
             class="input-text"
             ng-model="editUser.user.personal_data.name"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Surname"
             class="input-text"
             ng-model="editUser.user.personal_data.surname"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Sex"
             class="input-text"
             ng-model="editUser.user.personal_data.sex"
             required>

      <input type="number"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Weight"
             class="input-text"
             ng-model="editUser.user.personal_data.weight"
             required>

      <input type="number"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Height"
             class="input-text"
             ng-model="editUser.user.personal_data.height"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Address"
             class="input-text"
             ng-model="editUser.user.personal_data.address"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="City"
             class="input-text"
             ng-model="editUser.user.personal_data.city"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Province"
             class="input-text"
             ng-model="editUser.user.personal_data.province"
             required>

      <input type="text"
             ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"
             placeholder="Country"
             class="input-text"
             ng-model="editUser.user.personal_data.country"
             required>

      <br>

      <button-form show-button="('users.edit_user.user_id' | routeSegmentEqualsTo)"
                   click-button="editUser.editUser()"
                   text-button="Edit User">
      </button-form>

    </form>

  </div>

</div>
