<notification text="{{editChallenge.language.ROUTES.challengeUpdated}}"
              show-condition="editChallenge.challengeUpdated">
</notification>

<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)">

    <form-section-header title="{{editChallenge.language.ROUTES.editChallenge}}"
                         icon="{{editChallenge.icons.edit}}"
                         close-icon="{{editChallenge.icons.close}}"
                         close-function="editChallenge.goToChallenges()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
             placeholder="{{editChallenge.language.ROUTES.title}}"
             class="input-text"
             ng-model="editChallenge.challenge.title"
             required>

      <select class="width-100"
              ng-model="editChallenge.challenge.category"
              placeholder="{{editChallenge.language.ROUTES.selectCategory}}"
              ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
              ng-options="category.value as category.name for category in editChallenge.categories" required>
        <option value="">{{editChallenge.language.ROUTES.selectCategory}}</option>
      </select>

      <textarea ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
                placeholder="{{editChallenge.language.ROUTES.challengeDescription}}"
                class="new-post-textArea"
                ng-model="editChallenge.challenge.description"
                required>
      </textarea>

      <input type="number"
             ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
             placeholder="{{editChallenge.language.ROUTES.target}}"
             class="input-text"
             ng-model="editChallenge.challenge.target"
             required>

      <select class="width-100"
              ng-model="editChallenge.challenge.unit"
              placeholder="{{editChallenge.language.ROUTES.selectUnit}}"
              ng-show="('challenges.edit_challenge' | routeSegmentEqualsTo)"
              ng-options="unit.value as unit.name for unit in editChallenge.units" required>
        <option value="">{{editChallenge.language.ROUTES.selectUnit}}</option>
      </select>

      <!-- <textarea ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
                placeholder="{{editChallenge.language.ROUTES.challengeInstructions}}"
                class="new-post-textArea"
                ng-model="editChallenge.challenge.instructions"
                required>
      </textarea> -->

      <input type="number"
             ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
             placeholder="{{editChallenge.language.ROUTES.experienceReward}}"
             class="input-text"
             ng-model="editChallenge.challenge.reward"
             required>

      <input type="url"
             placeholder="Youtube URL"
             class="input-text"
             ng-model="editChallenge.challenge.video"
             ng-blur="editChallenge.getEmbedUrl($event)"
             ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)" required>

      <br>

      <div class="new-challenge-video">
        <iframe src="{{editChallenge.trustSrc('https://www.youtube.com/embed/' + editChallenge.embedUrl)}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen >
        </iframe>
      </div>

      <span class="challenge-advise">
        If you want to keep your videos <span class="bold">"Private"</span>, set the visibility to <span class="bold">"Unlisted"</span> in the YouTube platform. This way, the videos will only be accessible if you have the URL of the video.
      </span>

      <br>
      <br>

      <hr class="space-new-route">

      <button-form show-button="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)"
                   click-button="editChallenge.edit()"
                   text-button="{{editChallenge.language.ROUTES.editChallenge}}">
      </button-form>

    </form>

  </div>

</div>
