<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)">

    <form-section-header title="{{editMedicalCenter.language.MEDICAL_CENTER.editMedicalCenter}}"
                         icon="{{editMedicalCenter.icons.edit}}"
                         close-icon="{{editMedicalCenter.icons.close}}"
                         close-function="editMedicalCenter.goToMedicalCenters()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.name}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_name"
             required>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.address}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_address"
             required>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.postalCode}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_postal_code"
             required>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.city}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_city"
             required>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.province}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_province"
             required>

      <input type="text"
             ng-show="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
             placeholder="{{editMedicalCenter.language.LOGIN.country}}"
             class="input-text"
             ng-model="editMedicalCenter.medical_center.medical_center_country"
             required>

      <br>

      <button-form show-button="('medical_centers.edit_medical_center.medical_center_id' | routeSegmentEqualsTo)"
                   click-button="editMedicalCenter.editMedicalCenter()"
                   text-button="{{editMedicalCenter.language.MEDICAL_CENTER.editMedicalCenter}}">
      </button-form>

    </form>

  </div>

</div>
