<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('home' | routeSegmentEqualsTo)"
                  title="Home"
                  icon="{{home.icons.home}}">
  </section-header>

  <div class="home-msg">
    <img src="../images/active-schools-icon.svg" alt="" width="3%" height="3%">
    Welcome to Active Schools!
  </div>

  <div class="home-main-container">
    <div class="home-content">

      <button class="home-button"
              title="Go to Routes"
              ng-click="home.goToRoutes()">
        <t>Routes</t>
      </button>

      <button class="home-button"
                  title="Go to Challenges"
                  ng-click="home.goToChallenges()">
        <t>Challenges</t>
      </button>

      <button class="home-button"
                  title="Go to MedicalCenter"
                  ng-click="home.goToSchools()">
        <t>Schools</t>
      </button>

      <button class="home-button"
                  title="Go to Medical Centers"
                  ng-click="home.goToMedicalCenters()">
        <t>Medical Centers</t>
      </button>

      <button class="home-button"
                  title="Go to Posts"
                  ng-click="home.goToPosts()">
        <t>Posts</t>
      </button>

      <button class="home-button"
                  title="Go to Teams"
                  ng-click="home.goToTeams()">
        <t>Teams</t>
      </button>

      <button class="home-button"
                  title="Go to Users"
                  ng-click="home.goToUsers()"
                  ng-show="users.userServiceData.loggedUser.rol ==='admin'">
        <t>Users</t>
      </button>

      <!-- Completar lo de abajo-->
      <div>
        Users logged last week: 1000
        <br>
        Online users: 1000
      </div>

    </div>

  </div>

</div>

</div>
