<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('home' | routeSegmentEqualsTo)"
                  title="Home"
                  icon="{{home.icons.home}}">
  </section-header>

  <div class="home-msg">Welcome to Active Schools!</div>

  <div class="home-main-container">
    <div class="home-content">

      <button title="Go to Routes"
              onclick="home.goToRoutes()"
              style="background-color: var(--orange)">
        <t>Go to Routes</t>
      </button>

      <button title="Go to Challenges"
                  button-function="home.goToChallenges()"
                  style="background-color: var(--orange)">
        <t>Go to Challenges</t>
      </button>

      <button title="Go to MedicalCenter"
                  button-function="home.goToSchools()"
                  style="background-color: var(--orange)">
        <t>Go to Schools</t>
      </button>

      <button title="Go to Medical Centers"
                  button-function="home.goToMedicalCenters()"
                  style="background-color: var(--orange)">
        <t>Go to Medical Centers</t>
      </button>

      <button title="Go to Posts"
                  button-function="home.goToPosts()"
                  style="background-color: var(--orange)">
        <t>Go to Posts</t>
      </button>

      <button title="Go to Teams"
                  button-function="home.goToTeams()"
                  style="background-color: var(--orange)">
        <t>Go to Teams</t>
      </button>

      <button title="Go to Users"
                  button-function="home.goToUsers()"
                  ng-show="users.userServiceData.loggedUser.rol ==='admin'"
                  style="background-color: var(--orange)">
        <t>Go to Users</t>
      </button>

      <!-- Completar lo de abajo-->
      <div> Usuarios activos en la última semana: </div>

    </div>

  </div>

</div>

</div>
