<div class="login-container">
<div class="login-overlay"></div>
  
  <div class="text-container" ng-init="login.showRegister = false" ng-show="login.showRegister === false">

    <img src="../images/active-schools.svg" class="size">
    <h5 class="admin-zone">Admin zone</h5>

    <div class="form-container">
      
      <form class="login-form">
        <input id="username" type="text" placeholder="User" ng-model="login.user.username" autocomplete="current-username" required>
        <input id="password" type="password" placeholder="Password" ng-model="login.user.password" autocomplete="current-password"  required>
        <input class="button" type="submit" value="Enter" ng-click="login.login()">
      </form>

      <span class="login-error" ng-show="login.errorMessage !== '' && login.openMessageWindow">{{ login.errorMessage }}</span>

      <div class="term-container">
        <a href="#recover" class="color-font">
          Have you forgotten the password?
        </a>
      </div>

      <div class="login-separator">
        <hr>
        <span>or</span>
        <hr>
      </div>

      <div class="google-button" ng-click="login.signInWithGoogle()">
        <div>
          <img src="../images/google-icon.png">
        </div>
        <span>
          Sign in with Google
        </span>
      </div>

      <div class="login-separator">
        <hr>
      </div>

      <div ng-click="login.showRegister = true; login.registerStep1 = true; login.showRegisterForm = true" class="new-user-container">
        <a class="color-font">
          Are you the principal of a school?
          <br>
          Please register it.
        </a>
      </div>

    </div>

  </div>

  <div class="text-container login-no-padding" ng-show="login.showRegister === true">

    <div class="form-container">

      <div class="login-register-title-container">
        <h5 ng-show="login.registerStep1 && login.showRegisterForm">Register Credentials</h5>
        <h5 ng-show="login.registerStep2">Register Personal Data</h5>
        <h5 ng-show="login.registerStep3">Register School Data</h5>
        <!-- <h5 ng-show="login.registerStep4">Register Medical Center</h5> -->
        <span ng-click="login.showRegister = false" class="fa fa-remove"></span>
      </div>

      <div class="login-register-progress-container">
        <div class="login-register-progress-bar">
          <div class="login-register-progress-inner"
               ng-class="{'login-register-progress-inner-0': login.registerStep1,
                          'login-register-progress-inner-50': login.registerStep2 && login.showRegisterForm === true,
                          'login-register-progress-inner-0': login.registerStep2 && login.showRegisterForm === false,
                          'login-register-progress-inner-100': login.registerStep3}">
          </div>
        </div>
        <div class="login-register-progress-diamond"
             ng-show="login.showRegisterForm"
             ng-class="{'login-register-progress-diamond-active': login.registerStep1 || login.registerStep2 || login.registerStep3}">
          <div></div>
        </div>
        
        <div class="login-register-progress-diamond"
             ng-class="{'login-register-progress-diamond-active': login.registerStep2 || login.registerStep3}">
          <div></div>
        </div>

        <div class="login-register-progress-diamond"
             ng-class="{'login-register-progress-diamond-active': login.registerStep3}">
          <div></div>
        </div>

      </div>
      
      <form class="login-form" ng-show="login.registerStep1 && login.showRegisterForm">
        <input id="email" class="input-login" type="email" placeholder="E-mail" ng-model="login.newUser.email" autocomplete="new-username" required>
        <input id="registerPassword" class="input-login" type="password" placeholder="Password" autocomplete="new-password" ng-model="login.newUser.password"  required>
        <input id="checkPassword" class="input-login" type="password" placeholder="Repeat Password" autocomplete="new-password" ng-model="login.newUser.checkPassword"  required>
        <input class="button" type="submit" value="Next" ng-click="login.checkRegister()">
      </form>

      <form class="login-form" ng-show="login.registerStep2">
        <input id="personalDataUsername" class="input-login" type="text" placeholder="Name" ng-model="login.newUser.username" required>
        <input id="personalDataSurname" class="input-login" type="text" placeholder="Surname" ng-model="login.newUser.surname" required>

        <select class="input-login" ng-model="login.newUser.sex" ng-options="sex.value as sex.text for sex in login.sexArray" required>
          <option value="">Sex</option>
        </select>
        
        <input id="personalDataHeight" class="input-login" type="number" placeholder="Height" ng-model="login.newUser.height" required>
        <input id="personalDataWeight" class="input-login" type="number" placeholder="Weight" ng-model="login.newUser.weight" required>
        <input id="personalDataAddress" class="input-login" type="text" placeholder="Address" ng-model="login.newUser.address" required>
        <input id="personalDataCity" class="input-login" type="text" placeholder="City" ng-model="login.newUser.city" required>
        <input id="personalDataProvince" class="input-login" type="text" placeholder="Province" ng-model="login.newUser.province" required>

        <select ng-model="login.newUser.country" ng-options="country.code as country.name for country in login.countries" required>
          <option value="">Country</option>
        </select>

        <input class="button" type="submit" value="Next" ng-click="login.checkUserInfo()">
        <input ng-show="login.showRegisterForm" class="button" type="submit" value="Back" ng-click="login.registerStep1 = true; login.registerStep2 = false">
      </form>

      <form class="login-form" ng-show="login.registerStep3"> <!-- School Info -->
        <input id="schoolName" class="input-login" type="text" placeholder="Name" ng-model="login.school.name" required>
        <input id="schoolAddress" class="input-login" type="text" placeholder="Address" ng-model="login.school.address" required>
        <input id="schoolPostalCode" class="input-login" type="text" placeholder="Postal Code" ng-model="login.school.postalCode" required>
        <input id="schoolCity" type="text" class="input-login" placeholder="City" ng-model="login.school.city" required>
        <input id="schoolProvince" class="input-login" type="text" placeholder="Province" ng-model="login.school.province" required>

        <select class="input-login" ng-model="login.school.country" ng-options="country.code as country.name for country in login.countries" required>
          <option value="">Country</option>
        </select>

        <input class="button" type="submit" value="Next" ng-click="login.checkSchoolInfo()">
        <input class="button" type="submit" value="Back" ng-click="login.registerStep2 = true; login.registerStep3 = false">
      </form>

      <!-- Health Info
      <form class="login-form" ng-show="login.registerStep4"> 
        
        <div class="button div-button"
             ng-click="login.toggleDropdownMedicalCenter()">
          <span ng-show="login.showNewMedicalCenterList === true">Add new Medical Center</span>
          <span ng-show="login.showNewMedicalCenterList === false">Add Medical Center from List</span>
        </div>

        <div class="button div-button"
             ng-show="login.showNewMedicalCenterList = true"
             ng-click="login.showNewMedicalCenterList = false">
          Add Medical Center from List
        </div>

        <select class="input-login"
                ng-model="login.medicalCenterSelected"
                ng-show="login.showNewMedicalCenterList === true"
                ng-options="medical.medical_center_id as medical.medical_center_name for medical in login.medicalCenters" required>
          <option value="">Medical Center</option>
        </select>

        <div ng-show="login.showNewMedicalCenterList === false">
          <input id="medicalCenterName" class="input-login" type="text" placeholder="Name" ng-model="login.medicalCenter.name" required>
          <input id="medicalCenterAddress" class="input-login" type="text" placeholder="Address" ng-model="login.medicalCenter.address" required>
          <input id="medicalCenterPostalCode" class="input-login" type="text" placeholder="Postal Code" ng-model="login.medicalCenter.postalCode" required>
          <input id="medicalCenterCity" class="input-login" type="text" placeholder="City" ng-model="login.medicalCenter.city" required>
          <input id="medicalCenterProvince" class="input-login" type="text" placeholder="Province" ng-model="login.medicalCenter.province" required>

          <select ng-model="login.medicalCenter.country" ng-options="country.code as country.name for country in login.countries" required>
            <option value="">Country</option>
          </select>
          
          <input id="doctorName" type="text" placeholder="Name" ng-model="login.doctor.name" required>
          <input id="doctorLicense" type="text" placeholder="License" ng-model="login.doctor.license">
        </div>

        <input class="button" type="submit" value="Finish" ng-click="login.checkMedicalCenter()">
        <input class="button" type="submit" value="Back" ng-click="login.registerStep3 = true; login.registerStep4 = false">
        
      </form>
    -->

      <span class="login-error" ng-show="login.errorMessage !== '' && login.openMessageWindow">{{ login.errorMessage }}</span>

    </div>

  </div>

</div>
