<div class="sidebar">

  <div id="menu-items">

    <div class="logo">
      <img src="../images/active-schools-logo-bl.svg" alt="">
    </div>

    <div class="rombo-top">

      <div class="rombo"
           ng-class="{ 'rombo-selected': ('routes' | routeSegmentStartsWith) }"
           ng-click="mainMenu.goToRoutes()">
        <span class="fas fa-route"></span>
        <span>Routes</span>
      </div>

      <div class="rombo"
           ng-class="{ 'rombo-selected': ('challenges' | routeSegmentStartsWith) }"
           ng-click="mainMenu.goToChallenges()">
        <span class="fas fa-walking"></span>
        <span>Challenges</span>
      </div>

      <div class="rombo"
           ng-class="{ 'rombo-selected': ('posts' | routeSegmentStartsWith) }"
           ng-click="mainMenu.goToPosts()">
        <span class="fas fa-file-alt"></span>
        <span>Posts</span>
      </div>

    </div>


    <div class="rombo-bottom">

      <div class="rombo"
           ng-class="{ 'rombo-selected': ('profile' | routeSegmentStartsWith) }"
           ng-click="mainMenu.goToProfile()">
        <span class="fas fa-user"></span>
        <span>Username</span>
      </div>

      <div class="rombo" ng-click="mainMenu.goToLogin()">
        <span class="fas fa-sign-out-alt"></span>
        <span>Exit</span>
      </div>

    </div>

  </div>
</div>
