<div class="sidebar">

  <div id="menu-items">

    <div class="logo" ng-click="mainMenu.goToHome()">
      <img src="../images/active-schools-icon.svg" alt="">
    </div>

    <div class="rombo-top">

      <div class="diamond-container">
        <div class="diamond"
             ng-class="{ 'diamond-selected': ('routes' | routeSegmentStartsWith) }"
             ng-click="mainMenu.goToRoutes()">
          <span class="{{mainMenu.icons.routes}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('challenges' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToChallenges()">
          <span class="{{mainMenu.icons.challenges}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('schools' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToSchools()">
          <span class="{{mainMenu.icons.school}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('medical_centers' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToMedicalCenters()">
          <span class="{{mainMenu.icons.medical_centers}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('posts' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToPosts()">
          <span class="{{mainMenu.icons.posts}}"></span>
        </div>
      </div>

      <div class="diamond-container" ng-show="mainMenu.userServiceData.loggedUser.rol ==='superAdmin'">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('users' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToUsers()">
          <span class="{{mainMenu.icons.users}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('teams' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToTeams()">
          <span class="{{mainMenu.icons.teams}}"></span>
        </div>
      </div>

    </div>


    <div class="rombo-bottom">

      <div class="diamond-container">
        <div class="diamond"
            ng-class="{ 'diamond-selected': ('profile' | routeSegmentStartsWith) }"
            ng-click="mainMenu.goToProfile()">
          <span class="{{mainMenu.icons.profile}}"></span>
        </div>
      </div>

      <div class="diamond-container">
        <div class="diamond" ng-click="mainMenu.goToLogin()">
          <span class="{{mainMenu.icons.exit}}"></span>
        </div>
      </div>

    </div>

  </div>
</div>
