<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)">

		<form-section-header title="New Medical Center"
                         icon="{{newMedicalCenter.icons.add}}"
                         close-icon="{{newMedicalCenter.icons.close}}"
                         close-function="newMedicalCenter.goToMedicalCenters()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="Name"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_name"
             required>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="Address"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_address"
             required>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="Postal Code"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_postal_code"
             required>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="City"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_city"
             required>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="Province"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_province"
             required>

      <input type="text"
             ng-show="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
             placeholder="Country"
             class="input-text"
             ng-model="newMedicalCenter.medical_center.medical_center_country"
             required>

      <br>

      <button-form show-button="('medical_centers.new_medical_center' | routeSegmentEqualsTo)"
                   click-button="newMedicalCenter.addMedicalCenter()"
                   text-button="Add MedicalCenter">
      </button-form>

    </form>

  </div>

</div>
