  <div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('teams.new_team' | routeSegmentEqualsTo)">

    <form-section-header title="New Team"
                         icon="{{newTeam.icons.add}}"
                         close-icon="{{newTeam.icons.close}}"
                         close-function="newTeam.goToTeams()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('teams.new_team' | routeSegmentEqualsTo)"
             placeholder="Name"
             class="input-text"
             ng-model="newTeam.team.name"
             required>


      <input type="number"
             ng-show="('teams.new_team' | routeSegmentEqualsTo)"
             placeholder="Bonus"
             class="input-text"
             ng-model="newTeam.team.bonus"
             required>

      <hr class="space-new-route">

      <button-form show-button="('teams.new_team' | routeSegmentEqualsTo)"
                   click-button="newTeam.save()"
                   text-button="Add Team">
      </button-form>

    </form>

  </div>

</div>
