<div class="main-container-inner-right">

  <!--newPost-->
  <div class="new-route-form" ng-show="('posts.new_post' | routeSegmentEqualsTo) || ('posts.edit_post.post_id' | routeSegmentEqualsTo)">

    <form>

      <input type="text"
             ng-show="('posts.new_post' | routeSegmentEqualsTo)"
             placeholder="Title"
             class="input-text"
             ng-model="newPost.post.title"
             required>
      <input type="text"
             ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)"
             placeholder="Title"
             class="input-text"
             ng-model="editPost.post.title"
             required>

      <textarea name="post"
                ng-show="('posts.new_post' | routeSegmentEqualsTo)"
                placeholder="Post Text"
                class="new-post-textArea"
                ng-model="newPost.post.text"
                required>
      </textarea>
      <textarea name="post"
                ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)"
                placeholder="Post Text"
                class="new-post-textArea"
                ng-model="editPost.post.text"
                required>
      </textarea>

      <hr class="space-new-route">

      <div class="post-tabs-container">

        <div class="post-tab"
             ng-class="{ 'post-tab-selected' : showUrlImage }"
             ng-init="showUrlImage = true"
             ng-click="showUrlImage = true; showUploadImage = false">
          <span>External Image</span>
        </div>

        <div class="post-tab"
             ng-class="{ 'post-tab-selected' : showUploadImage }"
             ng-click="showUploadImage = true; showUrlImage = false">
          <span>Upload Image</span>
        </div>
      </div>

      <input type="url" placeholder="Image URL" class="input-text" ng-model="newPost.post.image" ng-show="showUrlImage === true && ('posts.new_post' | routeSegmentEqualsTo)" required>
      <input type="url" placeholder="Image URL" class="input-text" ng-model="editPost.post.image" ng-show="showUrlImage === true && ('posts.edit_post.post_id' | routeSegmentEqualsTo)" required>

      <input type="url" placeholder="File Image" class="input-text" ng-model="newPost.post.image" ng-show="showUploadImage === true && ('posts.new_post' | routeSegmentEqualsTo)" required>
      <input type="url" placeholder="File Image" class="input-text" ng-model="editPost.post.image" ng-show="showUploadImage === true && ('posts.edit_post.post_id' | routeSegmentEqualsTo)" required>

      <hr class="space-new-route">

      <div class="dropdown-challenge"
           ng-click="(showOptions = !showOptions)">
        <span class="span-add-challenge" ng-show="('posts.new_post' | routeSegmentEqualsTo)">{{newPost.post.country || 'Select Country to Publish'}}</span>
        <span class="span-add-challenge" ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)">{{editPost.post.country || 'Select Country to Publish'}}</span>
        <div class="rombo-select">
          <span class="fas fa-chevron-down"></span>
        </div>
      </div>

      <div class="dropdown-challenge-container" ng-show="showOptions">

        <div class="dropdown-option"
             ng-show="('posts.new_post' | routeSegmentEqualsTo) || ('posts.edit_post.post_id' | routeSegmentEqualsTo)"
             ng-repeat="country in ['All', 'England', 'Greece', 'Spain']">

          <div class="dropdown-option-left"
               ng-show="('posts.new_post' | routeSegmentEqualsTo)"
               ng-click="newPost.getCountry(country)">
            <span>{{country}}</span>
          </div>

          <div class="dropdown-option-left"
               ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)"
               ng-click="editPost.getCountry(country)">
            <span>{{country}}</span>
          </div>

        </div>

      </div>

      <div class="button-form"
           ng-show="('posts.new_post' | routeSegmentEqualsTo)"
           ng-click="newPost.save()">
        <div class="save-new-route">Add Post</div>
      </div>

      <div class="button-form"
           ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)"
           ng-click="editPost.edit()">
        <div class="save-new-route">Edit Post</div>
      </div>

    </form>

  </div>

</div>
