<div class="main-container-inner-right">

  <!--newPost-->
  <div class="new-route-form" ng-show="('posts.new_post' | routeSegmentEqualsTo)">

    <form-section-header title="New Post"
                         icon="{{newPost.icons.add}}"
                         close-icon="{{newPost.icons.close}}"
                         close-function="newPost.goToPosts()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('posts.new_post' | routeSegmentEqualsTo)"
             placeholder="Title"
             class="input-text"
             ng-model="newPost.post.title"
             required>

      <textarea name="post"
                ng-show="('posts.new_post' | routeSegmentEqualsTo)"
                placeholder="Post Text"
                class="new-post-textArea"
                ng-model="newPost.post.description"
                required>
      </textarea>

      <hr class="space-new-route">

      <input type="url"
             placeholder="Url Image"
             class="input-text"
             ng-model="newPost.post.image"
             ng-show="('posts.new_post' | routeSegmentEqualsTo)"
             required>

      <select class="width-100"
              ng-model="newPost.post.country"
              ng-options="country.code as country.name for country in newPost.countries" required>
        <option value="">All</option>
      </select>

      <button-form show-button="('posts.new_post' | routeSegmentEqualsTo)"
                   click-button="newPost.save()"
                   text-button="Add Post">
      </button-form>

    </form>

  </div>

</div>
