  <div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('teams.new_team' | routeSegmentEqualsTo)">

    <form-section-header title="{{newTeam.language.TEAMS.newTeam}}"
                         icon="{{newTeam.icons.add}}"
                         close-icon="{{newTeam.icons.close}}"
                         close-function="newTeam.goToTeams()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="('teams.new_team' | routeSegmentEqualsTo)"
             placeholder="{{newTeam.language.LOGIN.name}}"
             class="input-text"
             ng-model="newTeam.team.name"
             required>

      <select class="width-100"
              ng-show="newTeam.user.rol === 'superadmin'"
              ng-model="newTeam.team.creator_id"
              ng-options="user.id as (user.personal_data.name + ' ' + user.personal_data.surname) for user in newTeam.getUsers()"
              required>
              <option value="">{{newTeam.language.TEAMS.leader}}</option>
      </select>

      <hr class="space-new-route">

      <button-form show-button="('teams.new_team' | routeSegmentEqualsTo)"
                   click-button="newTeam.save()"
                   text-button="{{newTeam.language.TEAMS.addTeam}}">
      </button-form>

    </form>

  </div>

</div>
