<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('challenges.new_challenge' | routeSegmentEqualsTo)">
    <form class="formulario">
      <input type="text" id="name" placeholder="Name" class="cuadro-texto" ng-model="newChallenge.name" required>
      <input type="text" id="bonus" placeholder="Bonus" class="cuadro-texto" ng-model="newChallenge.bonus" required>
      <input type="text" id="minMax" placeholder="Min. Time" class="cuadro-texto" ng-model="newChallenge.minMax" required>
      <input type="text" id="maxMin" placeholder="Max. Time" class="cuadro-texto" ng-model="newChallenge.maxMin" required>

      <hr class="space-new-route">

      <div class="post-tabs-container">

        <div class="post-tab" ng-click="showUrlVideo[$index] = !showUrlVideo[$index]">
          <span>Youtube Video</span>
        </div>

        <div class="post-tab" ng-click="showUploadVideo[$index] = !showUploadVideo[$index]">
          <span>Upload Video</span>
        </div>
      </div>
      <input type="url" id="url" placeholder="Youtube URL" class="cuadro-texto" ng-model="newChallenge.video" ng-show="showUrlVideo[$index] === true" required>
      <input type="url" id="ruta" placeholder="Upload Video" class="cuadro-texto" ng-model="newChallenge.video" ng-show="showUploadVideo[$index] === true" required>
      <br>
      <div class="new-challenge-video">
        <iframe width="100%" height="100%" src="{{video}}"  >

        </iframe>
      </div>


      <div class="buton-route" ng-click="newChallenge.save()">
        <div class="save-new-route">Save New Route</div>
      </div>
    </form>



  </div>

  <!--Edit challenge-->
  <div class="new-route-form" ng-show="('challenges.edit_challenge.challenge_id' | routeSegmentEqualsTo)">
    <form class="formulario">
      <input type="text" id="name" placeholder="Name" class="cuadro-texto" ng-model="editChallenge.name" required>
      <input type="text" id="bonus" placeholder="Bonus" class="cuadro-texto" ng-model="editChallenge.bonus" required>
      <input type="text" id="minMax" placeholder="Min. Time" class="cuadro-texto" ng-model="editChallenge.minMax" required>
      <input type="text" id="maxMin" placeholder="Max. Time" class="cuadro-texto" ng-model="editChallenge.maxMin" required>

      <hr class="space-new-route">

      <div class="post-tabs-container">

        <div class="post-tab" ng-click="showUrlVideo[$index] = !showUrlVideo[$index]">
          <span>Youtube Video</span>
        </div>

        <div class="post-tab" ng-click="showUploadVideo[$index] = !showUploadVideo[$index]">
          <span>Upload Video</span>
        </div>
      </div>
      <input type="text" id="video" placeholder="Youtube URL" class="cuadro-texto" ng-model="editChallenge.video" ng-show="showUrlVideo[$index] === true" required>
      <input type="text" id="video" placeholder="Upload Video" class="cuadro-texto" ng-model="editChallenge.video" ng-show="showUploadVideo[$index] === true" required>
      <br>
      <div class="new-challenge-video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>

      </div>


      <div class="buton-route" ng-click="editChallenge.editChallenge($index)">
        <div class="save-new-route">Save New Route</div>
      </div>
    </form>

  </div>

</div>
