<div class="main-container-inner-right">

  <div class="new-route-form" ng-show="('schools.new_school' | routeSegmentEqualsTo)">

    <form-section-header title="{{newSchool.user.rol === 'superadmin' ? 'New School' : 'Create School'}}"
                         icon="{{newSchool.icons.add}}"
                         close-icon="{{newSchool.icons.close}}"
                         close-function="newSchool.goToSchools()">
    </form-section-header>

    <form>

      <input type="text"
             ng-show="newSchool.user.rol === 'superadmin' && ('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="Director_id"
             class="input-text"
             ng-model="newSchool.school.director_id"
             required>

      <input type="text"
             ng-show="('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="School Name"
             class="input-text"
             ng-model="newSchool.school.school_name"
             required>

      <input type="text"
             ng-show="('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="School Address"
             class="input-text"
             ng-model="newSchool.school.school_address"
             required>

      <input type="text"
             ng-show="('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="Postal Code"
             class="input-text"
             ng-model="newSchool.school.school_postal_code"
             required>

      <input type="text"
             ng-show="('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="City"
             class="input-text"
             ng-model="newSchool.school.school_city"
             required>

      <input type="text"
             ng-show="('schools.new_school' | routeSegmentEqualsTo)"
             placeholder="Province"
             class="input-text"
             ng-model="newSchool.school.school_province"
             required>

       <select class="width-100"
             ng-model="newSchool.school.school_country"
             ng-options="country.code as country.name for country in newSchool.countries"
             required>
              <option value="">Country</option>
       </select>

      <br>

      <button-form show-button="('schools.new_school' | routeSegmentEqualsTo)"
                   click-button="newSchool.addSchool()"
                   text-button="Add School">
      </button-form>

    </form>

  </div>

</div>
