<div class="main-container-inner-right" ng-show="('users.new_user' | routeSegmentEqualsTo)">

  <div class="new-route-form">

    <form-section-header title="{{newUser.language.USERS.newUser}}"
                         icon="{{newUser.icons.add}}"
                         close-icon="{{newUser.icons.close}}"
                         close-function="newUser.goToUsers()">
    </form-section-header>

    <form>

       <select class="width-100"
               ng-model="newUser.user.rol"
               ng-options="rol.value as rol.text for rol in newUser.roles" required>
              <option value="">{{newUser.language.USERS.rol}}</option>
       </select>

      <!-- <input type="text"
             placeholder="Rol"
             class="input-text"
             ng-model="newUser.user.rol"
             required> -->

      <input type="text"
             autocomplete="new-username"
             placeholder="{{newUser.language.LOGIN.user}}"
             class="input-text"
             ng-model="newUser.user.username"
             required>

      <input type="password"
             autocomplete="new-password"
             placeholder="{{newUser.language.LOGIN.password}}"
             class="input-text"
             ng-model="newUser.user.password"
             required>

      <input type="password"
             autocomplete="repeat-new-password"
             placeholder="{{newUser.language.LOGIN.repeatPassword}}"
             class="input-text"
             ng-model="newUser.user.checkPassword"
             required>

      <input type="text"
             placeholder="{{newUser.language.LOGIN.name}}"
             class="input-text"
             ng-model="newUser.user.personal_data.name"
             required>

      <input type="text"
             placeholder="{{newUser.language.LOGIN.surname}}"
             class="input-text"
             ng-model="newUser.user.personal_data.surname"
             required>

       <select class="width-100"
             ng-model="newUser.user.personal_data.sex"
             ng-options="sex.value as sex.text for sex in newUser.sex" required>
              <option value="">{{newUser.language.LOGIN.sex}}</option>
       </select>

      <!-- <input type="text"
             placeholder="Sex"
             class="input-text"
             ng-model="newUser.user.personal_data.sex"
             required> -->

       <input type="number"
             placeholder="{{newUser.language.LOGIN.height}}"
             class="input-text"
             ng-model="newUser.user.personal_data.height"
             required>

      <input type="number"
             placeholder="{{newUser.language.LOGIN.weight}}"
             class="input-text"
             ng-model="newUser.user.personal_data.weight"
             required>

      <input type="text"
             placeholder="{{newUser.language.LOGIN.address}}"
             class="input-text"
             ng-model="newUser.user.personal_data.address"
             required>

      <input type="text"
             placeholder="{{newUser.language.LOGIN.city}}"
             class="input-text"
             ng-model="newUser.user.personal_data.city"
             required>

      <input type="text"
             placeholder="{{newUser.language.LOGIN.province}}"
             class="input-text"
             ng-model="newUser.user.personal_data.province"
             required>

       <select class="width-100"
               ng-model="newUser.user.personal_data.country"
               ng-options="country.code as country.name for country in newUser.countries" required>
              <option value="">{{newUser.language.LOGIN.country}}</option>
       </select>

      <!-- <input type="text"
             placeholder="Country"
             class="input-text"
             ng-model="newUser.user.personal_data.country"
             required> -->

      <br>

      <button-form show-button="('users.new_user' | routeSegmentEqualsTo)"
                   click-button="newUser.addUser()"
                   text-button="{{newUser.language.USERS.addUsers}}">
      </button-form>

    </form>

  </div>

</div>
