<div class="root">

  <main-menu></main-menu>

  <div class="main-container">

    <section-header ng-show="('posts' | routeSegmentStartsWith)"
                    title="{{posts.language.HOME.posts}}"
                    icon="{{posts.icons.posts}}"
                    show-search-input="true">
    </section-header>

    <div class="main-container-inner" ng-class="{ 'main-container-inner-left' : ('posts.new_post' | routeSegmentEqualsTo) || ('posts.edit_post.post_id' | routeSegmentEqualsTo) }">

      <subsection-header title="{{posts.language.POSTS.postList}}"
                       icon="{{posts.icons.posts}}"
                       map-buttons="false"
                       new-button-icon="{{posts.icons.add}}"
                       new-button-title="{{posts.language.POSTS.newPost}}"
                       new-button-function="posts.goToNewPost()"
                       hide-button-condition="('posts.new_post' | routeSegmentEqualsTo) || ('posts.edit_post.post_id' | routeSegmentEqualsTo)">
      </subsection-header>

      <table class="tabla">
        <thead>

        <tr>
          <th scope="col">{{posts.language.POSTS.date}}</th>
          <th scope="col">{{posts.language.ROUTES.title}}</th>
          <th scope="col">{{posts.language.POSTS.published}}</th>
          <th scope="col" class="option-header">{{posts.language.ROUTES.options}}</th>
        </tr>
        </thead>

        <tbody ng-repeat="post in posts.posts">
        <tr>

          <td>{{post.date | date : 'dd/MM/yyyy'}}</td>
          <td class="bold">{{post.title}}</td>
          <td class="text-capitalize">{{posts.getCountry(post.language)}}</td>
          <td class="option">


            <div class="rombo-table small-square edit-bg" ng-click="posts.editPost(post.post_id)">
              <i class="{{posts.icons.edit}} icon-size"></i>
            </div>

            <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
              <i class="{{posts.icons.deleteDocument}} icon-size"></i>
            </div>

            <div class="bg-popup" ng-show="showDeletePopup[$index]">

              <div class="popup-container">
                <span>{{posts.language.POSTS.deletePost}}</span>
                <h5 class="bold">{{post.title}}</h5>
                <div class="popup-buttons-container">
                  <button class="delete-button" ng-click="posts.deletePost(post.post_id); showDeletePopup[$index] = false">{{posts.language.ROUTES.delete}}</button>
                  <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{posts.language.ROUTES.cancel}}</button>
                </div>
              </div>

            </div>


        </tr>

        </tbody>
      </table>

    </div>

    <div app-view-segment="1" ng-show="('posts.new_post' | routeSegmentEqualsTo)"></div>

    <div app-view-segment="2" ng-show="('posts.edit_post.post_id' | routeSegmentEqualsTo)"></div>

  </div>

</div>

