<div class="login-container">
<div class="login-overlay"></div>
  
  <div class="text-container privacy-container">

    <!-- <h5 class="admin-zone">Policy Privacy</h5> -->

    <div class="form-container">

      <div class="login-register-title-container">
        <h5>Policy Privacy</h5>
        <span ng-click="privacy.goToLogin()" class="fa fa-remove"></span>
      </div>

      <p>
        Effective Date: May, 2023
      </p>

      <p>
        At <span class="bold">Libelium</span>, we take the privacy of our users seriously.
        This <span class="bold">Privacy Policy</span> describes how personal information is collected, used, and protected through the <span class="bold">Active Schools</span> application ("the app").
        By using the app, you agree to the practices described in this Privacy Policy.
      </p>

      <p>
        <span class="bold">Collection of Personal Information:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">Personally Identifiable Information:</span>
            The Active Schools app may collect your user ID and email address during the registration process or through other app features.
            This data is used to identify and authenticate your account, as well as provide you with access to app functionalities.
          </li>
          <li>
            <span class="bold">Location Information:</span>
            The app may collect real-time GPS location data to provide location-related services and functionalities, such as displaying events or activities near your current position.
            Location information is solely used within the app and is not shared with third parties without your explicit consent.
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">Use of Personal Information:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">Enhancing User Experience:</span>
            We use the collected information to personalize and improve your experience with the app.
            This may include sending relevant notifications, event/activity recommendations, or optimizing the user interface based on your preferences.
          </li>
          <li>
            <span class="bold">Communications:</span>
            We may use your email address to send you app-related communications, such as updates, news, or information about events and activities that may be of interest to you.
            If you do not wish to receive such communications, you can opt-out at any time.
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">Protection of Personal Information:</span>
      </p>
      
      <p>
        <ul>
          <li>
            <span class="bold">Data Security:</span>
            We are committed to protecting the personal information we collect through appropriate technical and organizational measures to prevent unauthorized access, disclosure, alteration, or destruction of the data.
          </li>
          <li>
            <span class="bold">Data Retention:</span>
            We will retain your personal information only for as long as necessary to fulfill the purposes for which it was collected, unless a longer retention period is required or permitted by law.
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">Sharing of Personal Information:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">Third Parties:</span>
            We will not share your personal information with third parties without your prior consent, except when necessary to comply with applicable laws, respond to a legal request, or protect our rights, property, or safety.
          </li>
          <li>
            <span class="bold">Third-Party Analytics and Services:</span>
            We may use third-party services to perform analytics or provide additional features in the app.
            These service providers may have limited access to your personal information only to the extent necessary to perform their specific functions and are required to maintain the confidentiality of such information.
          </li>
        </ul>
      </p>
      
      <p>
        <span class="bold">Data Deletion:</span>
      </p>

      <p>
        We value your control over your personal data. If you wish to delete your user account and all associated data, you can do so in two ways:
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">Through the App:</span>
            Within the Active Schools app, you will find the option to delete your user account.
            Upon selecting this option, you will be prompted for confirmation before proceeding with the deletion. Please note that this action will permanently delete your account and all related data.
          </li>
          <li>
            <span class="bold">Email Request:</span>
            If you prefer to request the deletion of your account and data via email, you can send a request to <span class="bold">activeschools@libelium.com</span>.
            Please ensure to provide the email address associated with your Active Schools app account. We will process your request within a reasonable timeframe and securely delete your data.
          </li>
        </ul>
      </p>

      <p>
        Please note that once your data is deleted, we will be unable to recover it, and your account will be irretrievable.
        Additionally, please be aware that some residual or anonymized data may remain in our systems for security purposes, legal compliance, or internal records.
      </p>

      <p>
        <span class="bold">Changes to the Privacy Policy:</span>
      </p>
      
      <p>
        We reserve the right to modify or update this Privacy Policy at any time.
        You will be notified of any significant changes through a notification in the app or by other reasonable means.
        We recommend that you periodically review this Privacy Policy to stay informed about how we protect your personal information.
      </p>
      
      <p>
        If you have any questions or concerns regarding this Privacy Policy, the handling of your personal data, or if you wish to request the deletion of your account, you can contact us at <span class="bold">activeschools@libelium.com</span>.
        We will be happy to assist you.
      </p>

    </div>

  </div>

</div>
