<div class="login-container">

  <div class="login-overlay"></div>

  <div class="language-container">

    <div ng-click="privacy.setLanguage('en')">
      <img class="language-unselected"
          ng-class="{ 'language-selected' : privacy.english }"
          src="../images/uk.png">
    </div>

    <div ng-click="privacy.setLanguage('el')">
      <img class="language-unselected"
          ng-class="{ 'language-selected' : privacy.greece }"
          src="../images/greece.png">
    </div>

    <div ng-click="privacy.setLanguage('es')">
      <img class="language-unselected"
          ng-class="{ 'language-selected' : privacy.spanish }" 
          src="../images/spain.png">
    </div>

  </div>
  
  <div class="text-container privacy-container">

    <!-- <h5 class="admin-zone">Policy Privacy</h5> -->

    <div class="form-container">

      <div class="login-register-title-container">
        <h5>{{privacy.language.LOGIN.privacyPolicy}}</h5>
        <span ng-click="privacy.goToLogin()" class="fa fa-remove"></span>
      </div>

      <p>
        {{privacy.language.PRIVACY_POLICY.effectiveDate}}: May, 2023
      </p>

      <p>
        {{privacy.language.PRIVACY_POLICY.privacyParagraph1}}
      </p>

      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle2}}:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle2}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph2}}
          </li>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle3}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph3}}
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle3}}:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle4}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph4}}
          </li>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle5}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph5}}
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle4}}:</span>
      </p>
      
      <p>
        <ul>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle6}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph6}}
          </li>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle7}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph7}}
          </li>
        </ul>
      </p>

      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle5}}:</span>
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle8}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph8}}
          </li>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle9}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph9}}
          </li>
        </ul>
      </p>
      
      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle6}}:</span>
      </p>

      <p>
        {{privacy.language.PRIVACY_POLICY.privacyParagraph10}}:
      </p>

      <p>
        <ul>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle10}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph11}}
          </li>
          <li>
            <span class="bold">{{privacy.language.PRIVACY_POLICY.privacyParagraphTitle11}}:</span>
            {{privacy.language.PRIVACY_POLICY.privacyParagraph12}}
          </li>
        </ul>
      </p>

      <p>
        {{privacy.language.PRIVACY_POLICY.privacyParagraph13}}
      </p>

      <p>
        <span class="bold">{{privacy.language.PRIVACY_POLICY.privacySubtitle7}}:</span>
      </p>
      
      <p>
        {{privacy.language.PRIVACY_POLICY.privacyParagraph14}}
      </p>
      
      <p>
        {{privacy.language.PRIVACY_POLICY.privacyParagraph15}}
      </p>

    </div>

  </div>

</div>
