<div class="login-container">
  <div class="login-overlay"></div>
  <div class="text-container">

    <img src="../images/active-schools-logo-color.svg" class="size">

    <h5>Admin zone</h5>

    <h5>Recover password</h5>

    <div class="form-container">
      <form class="login-form">
        <input id="useremail" type="email" placeholder="E-mail" ng-model="alias" required>
        <input class="button" type="submit" value="Send" ng-disabled="!alias" ng-click="recover.recover()">
      </form>
    </div>

  </div>
</div>

