<div class="root">

  <main-menu></main-menu>

  <div class="main-container">

    <section-header ng-show="('routes' | routeSegmentStartsWith)"
                    title="{{routes.language.HOME.routes}}"
                    icon="{{routes.icons.routes}}"
                    show-search-input="true">
    </section-header>

    <div class="main-container-inner" ng-show="('routes' | routeSegmentEqualsTo)">

      <subsection-header title="{{routes.language.ROUTES.routeList}}"
                       icon="{{routes.icons.routes}}"
                       map-buttons="false"
                       new-button-icon="{{routes.icons.add}}"
                       new-button-title="{{routes.language.ROUTES.newRoute}}"
                       new-button-function="routes.goToNewRoute()"
                       hide-button-condition="('routes.new_route' | routeSegmentEqualsTo) || ('routes.edit_route.route_id' | routeSegmentEqualsTo)">
      </subsection-header>

      <table class="tabla">
        <thead>
        <tr>
          <th>{{routes.language.LOGIN.name}}</th>
          <th>{{routes.language.LOGIN.city}}</th>
          <th>{{routes.language.LOGIN.province}}</th>
          <th>{{routes.language.LOGIN.country}}</th>
          <th>{{routes.language.HOME.challenges}}</th>
          <th class="option-header">{{routes.language.ROUTES.options}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="route in routes.routes track by $index">
        <tr>

          <td class="bold">{{route.route_name}}</td>
          <td>{{route.route_city}}</td>
          <td>{{route.route_province}}</td>
          <td>{{routes.checkCountry(route.route_country)}}</td>
          <td>{{route.challenges.length}}</td>
          <td class="option">

            <div class="rombo-table small-square edit-bg" ng-click="routes.editRoute($index)">
              <i class="{{routes.icons.edit}} icon-size"></i>
            </div>
            <!--ng-click="routes.deleteRow($index)"-->
            <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
              <i class="{{routes.icons.deleteDocument}} icon-size"></i>
            </div>
            <!--ng-click="showOptions[$index] = !showOptions[$index]"-->
            <div class="rombo-table small-square see-bg"
                 ng-class="{ 'rombo-table-see-selected' : route.showChallenges === true }"
                 ng-click="routes.toggleChallenges($index); routes.getChallengesByRouteId($index)">
              <i class="{{routes.icons.details}} icon-size"></i>
            </div>

            <div class="bg-popup" ng-show="showDeletePopup[$index]">

              <div class="popup-container">
                <span>{{routes.language.ROUTES.deleteRoute}}</span>
                <h5 class="bold">{{route.route_name}}</h5>
                <div class="popup-buttons-container">
                  <button class="delete-button" ng-click="routes.deleteRoute(route.route_id); showDeletePopup[$index] = false">{{routes.language.ROUTES.delete}}</button>
                  <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{routes.language.ROUTES.cancel}}</button>
                </div>
              </div>

            </div>

          </td>
        </tr>
        <tr ng-show="route.showChallenges === true">
          <td colspan="7">
            <table id="table-2" class="table-see">
              <tr>
                <th scope="col">{{routes.language.ROUTES.title}}</th>
                <th scope="col">{{routes.language.ROUTES.category}}</th>
                <!-- <th scope="col">Description</th> -->
                <th scope="col">{{routes.language.ROUTES.target}}</th>
                <th scope="col">{{routes.language.ROUTES.unit}}</th>
                <!-- <th scope="col">Instructions</th> -->
                <th scope="col">{{routes.language.ROUTES.reward}}</th>
                <!-- <th scope="col">Video</th> -->
                <th scope="col" class="option-header">{{routes.language.ROUTES.options}}</th>
              </tr>
              <tr ng-repeat="challenge in routes.challengesLoaded">
                <td class="bold">{{challenge.title}}</td>
                <td>{{challenge.category}}</td>
                <!-- <td>{{challenge.description}}</td> -->
                <td>{{challenge.target}}</td>
                <td>{{challenge.unit}}</td>
                <!-- <td>{{challenge.instructions}}</td> -->
                <td>{{challenge.reward}}</td>
                <!-- <td>{{challenge.video}}</td> -->
                <td class="option">

                  <div class="rombo-table small-square edit-bg" ng-click="routes.editChallenge(challenge.challenge_id)">
                    <i class="{{routes.icons.edit}} icon-size"></i>
                  </div>

                  <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
                    <i class="{{routes.icons.deleteDocument}} icon-size"></i>
                  </div>

                  <!-- TODO Hacer Directiva -->

                  <div class="bg-popup" ng-show="showDeletePopup[$index]">

                    <div class="popup-container">
                      <span>{{routes.language.ROUTES.deleteChallenge}}</span>
                      <h5 class="bold">{{challenge.title}}</h5>
                      <div class="popup-buttons-container">
                        <button class="delete-button" ng-click="routes.deleteChallenge(challenge.challenge_id); showDeletePopup[$index] = false">{{routes.language.ROUTES.delete}}</button>
                        <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{routes.language.ROUTES.cancel}}</button>
                      </div>
                    </div>

                  </div>
                </td>
              </tr>

            </table>
          </td>
        </tr>

        </tbody>

      </table>

    </div>

    <div app-view-segment="1" ng-show="('routes.new_route' | routeSegmentEqualsTo)"></div>

    <div app-view-segment="2" ng-show="('routes.edit_route.route_id' | routeSegmentEqualsTo)"></div>

    <!-- <new-button icon="{{routes.icons.add}}"
                title="New Route"
                button-function="routes.goToNewRoute()"
                ng-hide="('routes.new_route' | routeSegmentEqualsTo)">
    </new-button> -->

  </div>


</div>
