<div class="root">

  <main-menu></main-menu>

  <div class="main-container">

    <section-header ng-show="('routes' | routeSegmentEqualsTo)"
                    title="Routes"
                    icon="fas fa-route"
                    show-search-input="true">
    </section-header>

    <section-header ng-show="('routes.new_route' | routeSegmentEqualsTo)"
                    title="Routes - New Route"
                    icon="fas fa-route"
                    show-search-input="false"
                    show-close="true"
                    close-function="routes.goToRoutes()">
    </section-header>

    <section-header ng-show="('routes.edit_route.route_id' | routeSegmentEqualsTo)"
                    title="Routes - Edit Route"
                    icon="fas fa-route"
                    show-search-input="false"
                    show-close="true"
                    close-function="routes.goToRoutes()">
    </section-header>

    <div class="main-container-inner" ng-show="('routes' | routeSegmentEqualsTo)">

      <table class="tabla">
        <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>City</th>
          <th>Province</th>
          <th>Country</th>
          <th>Challenges</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody ng-repeat="route in routes.routes">
        <tr>

          <td>{{route.date | date : 'dd/MM/yyyy'}}</td>
          <td>{{route.name}}</td>
          <td>{{route.city}}</td>
          <td>{{route.province}}</td>
          <td>{{route.country}}</td>
          <td>{{route.challenges}}</td>
          <td class="option">

            <div class="rombo-table-write" ng-click="routes.editRoute(route.id)">
              <i class="fas fa-edit logo1"></i>
            </div>
            <!--ng-click="routes.deleteRow($index)"-->
            <div class="rombo-table-delete" ng-click="routes.mostrarPopUp($index)">
              <i class="fas fa-trash-alt logo2"></i>
            </div>
            <!--ng-click="showOptions[$index] = !showOptions[$index]"-->
            <div class="rombo-table-see"
                 ng-class="{ 'rombo-table-see-selected' : showChallenges[$index] === true }"
                 ng-click="showChallenges[$index] = !showChallenges[$index]">
              <i class="fas fa-eye logo3"></i>
            </div>

          </td>
        </tr>
        <tr ng-show="showChallenges[$index] === true">
          <td colspan="7">
            <table id="table-2" class="table-see">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Video</th>
                <th scope="col">Bonus</th>
                <th scope="col">Min. Time / Max. Time</th>
                <th scope="col">Images</th>
                <th scope="col">Options</th>
              </tr>
              <tr ng-repeat="challenge in routes.challenges">
                <td>{{challenge.date | date : 'dd/MM/yyyy'}}</td>
                <td>{{challenge.name}}</td>
                <td>{{challenge.video}}</td>
                <td>{{challenge.bonus}}</td>
                <td>{{challenge.minMax}}</td>
                <td>{{challenge.images}}</td>
                <td class="option">
                  <div class="rombo-table-write" ng-click="routes.editChallenge(challenge.id)">
                    <i class="fas fa-edit logo1"></i>
                  </div>

                  <div class="rombo-table-delete" ng-click="routes.mostrarPopUp_2($index)">
                    <i class="fas fa-trash-alt logo2"></i>
                  </div>
              </tr>

            </table>
          </td>
        </tr>

        </tbody>

      </table>

    </div>

    <div app-view-segment="1" ng-show="('routes.new_route' | routeSegmentEqualsTo)"></div>

    <div app-view-segment="2" ng-show="('routes.edit_route.route_id' | routeSegmentEqualsTo)"></div>

    <new-button icon="fas fa-plus"
                title="New Route"
                button-function="routes.goToNewRoute()"
                ng-hide="('routes.new_route' | routeSegmentEqualsTo)">
    </new-button>

    <input id="deleteId" type="hidden" value="12"/>

    <div id="main" class="popUp" ng-show="routes.deletePopUp === true">
      <div class="divPopUp">
          <h4 style="text-align: center; color: black;">Are you sure you want to delete the marked route?</h4>
          <div class="botones">

            <button type="submit" class="btn btn-danger" ng-click="routes.deleteRow($index); routes.deletePopUp = false">Ok</button>
            <button type="submit" class="btn btn-light"  ng-click="routes.deletePopUp = false">Cancel</button>
          </div>
      </div>

    </div>

    <div id="main" class="popUp" ng-show="routes.delete === true">
      <div class="divPopUp">
          <h4 style="text-align: center; color: black;">Are you sure you want to delete the marked challenge?</h4>
          <div class="botones">

            <button type="submit" class="btn btn-danger" ng-click="routes.deleteRow_2($index); routes.delete = false">Ok</button>
            <button type="submit" class="btn btn-light"  ng-click="routes.delete = false">Cancel</button>
          </div>
      </div>

    </div>




  </div>


</div>
