<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('schools' | routeSegmentStartsWith)"
                  title="{{schools.getTitle()}}"
                  icon="{{schools.icons.school}}"
                  show-search-input="true">
  </section-header>

  <div class="main-container-inner"
       ng-class="{ 'main-container-inner-left' : ('schools.new_school' | routeSegmentEqualsTo) ||
                                                 ('schools.edit_school.school_id' | routeSegmentEqualsTo) || 
                                                 ('schools.new_course' | routeSegmentEqualsTo) ||
                                                 ('schools.edit_course.course_id' | routeSegmentEqualsTo) }">

    <subsection-header title="{{schools.getTitleData()}}"
                       icon="{{schools.icons.school}}"
                       map-buttons="false"
                       new-button-icon="{{schools.icons.add}}"
                       new-button-title="{{schools.language.SCHOOLS.createSchool}}"
                       new-button-function="schools.goToNewSchool()"
                       hide-button-condition="schools.directorCheck === true || ('schools.new_school' | routeSegmentEqualsTo) || ('schools.edit_school.school_id' | routeSegmentEqualsTo)">
    </subsection-header>

    <table class="tabla" ng-show="schools.directorCheck === true || schools.user.rol === 'superadmin'">
      <thead>
      <tr>
        <th scope="col">{{schools.language.LOGIN.name}}</th>
        <th scope="col">{{schools.language.LOGIN.address}}</th>
        <th scope="col">{{schools.language.LOGIN.postalCode}}</th>
        <th scope="col">{{schools.language.LOGIN.city}}</th>
        <th scope="col">{{schools.language.LOGIN.province}}</th>
        <th scope="col">{{schools.language.LOGIN.country}}</th>
        <th scope="col" class="option-header">{{schools.language.LOGIN.options}}</th>
      </tr>
      </thead>
      <tbody ng-repeat="school in schools.schools">

      <tr>
        <td class="bold">{{school.school_name}}</td>
        <td>{{school.school_address}}</td>
        <td>{{school.school_postal_code}}</td>
        <td>{{school.school_city}}</td>
        <td>{{school.school_province}}</td>
        <td>{{school.school_country}}</td>
        <td class="option">

          <div class="rombo-table small-square edit-bg"
               ng-show="schools.user.rol === 'admin' || schools.user.rol === 'superadmin'"
               ng-click="schools.editSchool(school.school_id)">
            <i class="{{schools.icons.edit}} icon-size"></i>
          </div>

          <div class="rombo-table small-square delete-bg"
               ng-show="schools.user.rol === 'superadmin'"
               ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
            <i class="{{schools.icons.deleteDocument}} icon-size"></i>
          </div>

          <div class="rombo-table small-square see-bg"
               ng-show="schools.user.rol === 'superadmin' && school.courses_data.length !== 0"
               ng-class="{ 'rombo-table-see-selected' : school.showCourses === true }"
               ng-click="schools.toggleCourses($index); schools.getCoursesBySchoolIndex($index)">
              <i class="{{schools.icons.details}} icon-size"></i>
          </div>

          <!-- TODO Hacer Directiva -->

          <div class="bg-popup" ng-show="showDeletePopup[$index] && schools.user.rol === 'superadmin'">

            <div class="popup-container">
              <span>{{schools.language.SCHOOLS.deleteSchool}}</span>
              <h5 class="bold">{{school.school_name}}</h5>
              <div class="popup-buttons-container">
                <button class="delete-button" ng-click="schools.deleteSchool(school.school_id); showDeletePopup[$index] = false">{{schools.language.ROUTES.delete}}</button>
                <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{schools.language.ROUTES.cancel}}</button>
              </div>
            </div>

          </div>

          <!-- -->

        </td>

      </tr>

      <tr ng-show="school.showCourses === true">
        <td colspan="7">
          <table id="table-2" class="table-see">
            <tr>
              <th scope="col">{{schools.language.LOGIN.name}}</th>
              <th scope="col">{{schools.language.SCHOOLS.tutor}}</th>
              <th scope="col">{{schools.language.SCHOOLS.students}}</th>
              <th scope="col" class="option-header">{{schools.language.ROUTES.options}}</th>
            </tr>
            <tr ng-repeat="course in schools.selectedSchoolCourses">
              <td class="bold">{{course.course_name}}</td>
              <td>{{course.teacher_name}}</td>
              <!-- <td>{{challenge.description}}</td> -->
              <td>{{course.students.length}}</td>
              <td class="option">

                <div class="rombo-table small-square edit-bg" ng-click="schools.editCourse(course.course_id)">
                  <i class="{{schools.icons.edit}} icon-size"></i>
                </div>

                <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
                  <i class="{{schools.icons.deleteDocument}} icon-size"></i>
                </div>

                <!-- TODO Hacer Directiva -->

                <div class="bg-popup" ng-show="showDeletePopup[$index]">

                  <div class="popup-container">
                    <span>{{schools.language.SCHOOLS.deleteCourse}}</span>
                    <h5 class="bold">{{course.course_name}}</h5>
                    <div class="popup-buttons-container">
                      <button class="delete-button" ng-click="schools.deleteCourse(course.course_id); showDeletePopup[$index] = false">{{schools.language.ROUTES.delete}}</button>
                      <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{schools.language.ROUTES.cancel}}</button>
                    </div>
                  </div>

                </div>
              </td>
            </tr>

          </table>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="centered-window" ng-show="schools.directorCheck === false && schools.user.rol !== 'superadmin'">

      <p>
        {{schools.language.SCHOOLS.paragraph1}}
      </p>

      <p>
        {{schools.language.SCHOOLS.paragraph2}}
      </p>

      <p>
        {{schools.language.SCHOOLS.paragraph3}}
      </p>

      <hr>

      <div class="sub-section-new-button-container" ng-click="schools.goToNewSchool()">
        <div class="sub-section-new-button-icon">
          <span class="{{schools.icons.add}}"></span>
        </div>
        <div class="sub-section-new-button-text">
          <span>{{schools.language.SCHOOLS.createSchool}}</span>
        </div>
      </div>

    </div>

    <div class="margin-40"></div>

    <subsection-header title="{{schools.language.SCHOOLS.courseList}}"
                       ng-show="schools.user.rol !== 'superadmin'"
                       icon="{{schools.icons.school}}"
                       map-buttons="false"
                       new-button-icon="{{schools.icons.add}}"
                       new-button-title="{{schools.language.SCHOOLS.createCourse}}"
                       new-button-function="schools.goToNewCourse()"
                       hide-button-condition="('schools.new_course' | routeSegmentEqualsTo) || ('schools.edit_course.course_id' | routeSegmentEqualsTo)">
    </subsection-header>

    <table class="tabla" ng-show="schools.directorCheck === true && schools.user.rol !== 'superadmin'">
      <thead>
      <tr>
        <th scope="col">{{schools.language.LOGIN.name}}</th>
        <th scope="col">{{schools.language.SCHOOLS.tutor}}</th>
        <th scope="col">{{schools.language.SCHOOLS.students}}</th>
        <th scope="col" class="option-header">{{schools.language.ROUTES.options}}</th>
      </tr>
      </thead>
      <tbody ng-repeat="course in schools.courses">

      <tr>
        <td class="bold">{{course.course_name}}</td>
        <td>{{schools.getUserName(course.teacher_id)}}</td>
        <td>{{course.students.length}}</td>
        <td class="option">

          <div class="rombo-table small-square edit-bg"
               ng-show="schools.user.rol === 'admin' || schools.user.rol === 'superadmin'"
               ng-click="schools.editCourse(course.course_id)">
            <i class="{{schools.icons.edit}} icon-size"></i>
          </div>

          <div class="rombo-table small-square delete-bg"
               ng-show="schools.user.rol === 'admin' || schools.user.rol === 'superadmin'"
               ng-click="showDeleteCoursePopup[$index] = !showDeleteCoursePopup[$index]">
            <i class="{{schools.icons.deleteDocument}} icon-size"></i>
          </div>

          <!-- TODO Hacer Directiva -->

          <div class="bg-popup" ng-show="showDeleteCoursePopup[$index]">

            <div class="popup-container">
              <span>{{schools.language.SCHOOLS.deleteCourse}}</span>
              <h5 class="bold">{{course.course_name}}</h5>
              <div class="popup-buttons-container">
                <button class="delete-button" ng-click="schools.deleteCourse(course.course_id); showDeleteCoursePopup[$index] = false">{{schools.language.ROUTES.delete}}</button>
                <button class="cancel-button"  ng-click="showDeleteCoursePopup[$index] = false">{{schools.language.ROUTES.cancel}}</button>
              </div>
            </div>

          </div>

          <!-- -->

        </td>

      </tr>

      </tbody>
    </table>

  </div>

  <div app-view-segment="1" ng-show="('schools.new_school' | routeSegmentEqualsTo) || ('schools.new_course' | routeSegmentEqualsTo)"></div>

  <div app-view-segment="2" ng-show="('schools.edit_school.school_id' | routeSegmentEqualsTo) || ('schools.edit_course.course_id' | routeSegmentEqualsTo)"></div>

  </div>

</div>
