<div class="section-header">

  <div class="section-header-left" ng-class="{ 'section-header-left-50' : showClose }">
    
    <div class="diamond-container diamond-header">
      <div class="diamond">
        <span class="{{icon}}"></span>
      </div>
    </div>
    
    <h1>{{title}}</h1>
  </div>

  <div class="section-header-right" ng-class="{ 'section-header-right-50' : showClose }">
    
    <div class="section-header-right-left" ng-show="showSearchInput">
      <span class="search-icon"><i class="fa fa-search search" ng-click="handleAction()"></i></span>
      <input type="search" id="search" placeholder="Search" class="search-input">
    </div>

    <div class="diamond-container diamond-close" ng-show="showClose">
      <div class="diamond" ng-click="closeFunction()">
        <i class="{{sectionHeader.icons.close}}"></i>
      </div>
    </div>

  </div>

</div>
