<div class="root">

  <main-menu></main-menu>

<div class="main-container">

  <section-header ng-show="('teams' | routeSegmentStartsWith)"
                  title="{{teams.language.HOME.teams}}"
                  icon="{{teams.icons.teams}}"
                  show-search-input="true">
  </section-header>

  <div class="main-container-inner" ng-class="{ 'main-container-inner-left' : ('teams.new_team' | routeSegmentEqualsTo) || ('teams.edit_team.team_id' | routeSegmentEqualsTo) }">

    <subsection-header title="{{teams.language.TEAMS.teamList}}"
                       icon="{{teams.icons.teams}}"
                       map-buttons="false"
                       new-button-icon="{{teams.icons.add}}"
                       new-button-title="{{teams.language.TEAMS.newTeam}}"
                       new-button-function="teams.goToNewTeam()"
                       hide-button-condition="('teams.new_team' | routeSegmentEqualsTo) || ('teams.edit_team.team_id' | routeSegmentEqualsTo)">
    </subsection-header>

    <table class="tabla">
      <thead>
      <tr>
        <th scope="col">{{teams.language.LOGIN.name}}</th>
        <th scope="col">{{teams.language.TEAMS.leader}}</th>
        <th scope="col" class="option-header">Options</th>
      </tr>
      </thead>
      <tbody ng-repeat="team in teams.teams | orderBy: '-date'">

      <tr>
        <td class="bold">{{team.team_name}}</td>
        <td>{{teams.getUsername(team.creator_id)}}</td>
        <td class="option">

          <div class="rombo-table small-square edit-bg" ng-click="teams.editTeam(team.team_id)">
            <i class="{{teams.icons.edit}} icon-size"></i>
          </div>

          <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
            <i class="{{teams.icons.deleteDocument}} icon-size"></i>
          </div>

          <div class="bg-popup" ng-show="showDeletePopup[$index]">

            <div class="popup-container">
              <span>{{teams.language.TEAMS.deleteTeam}}</span>
              <h5 class="bold">{{team.team_name}}</h5>
              <div class="popup-buttons-container">
                <button class="delete-button" ng-click="teams.deleteTeam(team.team_id); showDeletePopup[$index] = false">{{teams.language.ROUTES.delete}}</button>
                <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{teams.language.ROUTES.cancel}}</button>
              </div>
            </div>

          </div>

        </td>

      </tr>

      </tbody>
    </table>

  </div>

  <div app-view-segment="1" ng-show="('teams.new_team' | routeSegmentEqualsTo)"></div>

  <div app-view-segment="2" ng-show="('teams.edit_team.team_id' | routeSegmentEqualsTo)"></div>

  </div>

</div>
