<div class="root" ng-show="users.userServiceData.loggedUser.rol ==='superadmin'">

  <main-menu></main-menu>

<div class="main-container" >

  <section-header ng-show="('users' | routeSegmentStartsWith)"
                  title="{{users.language.HOME.users}}"
                  icon="{{users.icons.users}}"
                  show-search-input="true">
  </section-header>

  <div class="main-container-inner" ng-class="{ 'main-container-inner-left' : ('users.new_user' | routeSegmentEqualsTo) || ('users.edit_user.user_id' | routeSegmentEqualsTo) }">

    <subsection-header title="{{users.language.USERS.userList}}"
                       icon="{{users.icons.users}}"
                       map-buttons="false"
                       new-button-icon="{{users.icons.add}}"
                       new-button-title="{{users.language.USERS.newUser}}"
                       new-button-function="users.goToNewUser()"
                       hide-button-condition="('users.new_user' | routeSegmentEqualsTo) || ('users.edit_user.user_id' | routeSegmentEqualsTo)">
    </subsection-header>

    <table class="tabla">
      <thead>
      <tr>
        <th scope="col">{{users.language.LOGIN.name}}</th>
        <th scope="col">{{users.language.LOGIN.surname}}</th>
        <th scope="col">{{users.language.USERS.rol}}</th>
        <th scope="col">{{users.language.LOGIN.user}}</th>
        <th scope="col">{{users.language.LOGIN.city}}</th>
        <th scope="col">{{users.language.LOGIN.province}}</th>
        <th scope="col" class="option-header">{{users.language.ROUTES.options}}</th>
      </tr>
      </thead>
      <tbody ng-repeat="user in users.users | orderBy: '-date'">

      <tr>
        <td class="bold">{{user.personal_data.name}} {{users.checkIfOwnUser(user.id)}}</td>
        <td class="bold">{{user.personal_data.surname}}</td>
        <td>{{user.rol}}</td>
        <td>{{user.username}}</td>
        <td>{{user.personal_data.city}}</td>
        <td>{{user.personal_data.province}}</td>
        <td class="option">

          <div class="rombo-table small-square edit-bg" ng-click="users.editUser(user.id)">
            <i class="{{users.icons.edit}} icon-size"></i>
          </div>

          <div class="rombo-table small-square delete-bg" ng-click="showDeletePopup[$index] = !showDeletePopup[$index]">
            <i class="{{users.icons.deleteDocument}} icon-size"></i>
          </div>

          <div class="bg-popup" ng-show="showDeletePopup[$index]">

            <div class="popup-container">
              <span>{{users.language.USERS.deleteUser}}</span>
              <h5 class="bold">{{user.personal_data.name}} {{user.personal_data.surname}}</h5>
              <div class="popup-buttons-container">
                <button class="delete-button" ng-click="users.deleteUser(user.id); showDeletePopup[$index] = false">{{users.language.ROUTES.delete}}</button>
                <button class="cancel-button"  ng-click="showDeletePopup[$index] = false">{{users.language.ROUTES.cancel}}</button>
              </div>
            </div>

          </div>

        </td>

      </tr>

      </tbody>
    </table>

  </div>

  <div app-view-segment="1" ng-show="('users.new_user' | routeSegmentEqualsTo)"></div>

  <div app-view-segment="2" ng-show="('users.edit_user.user_id' | routeSegmentEqualsTo)"></div>

  </div>

</div>
